In [1]:
import numpy as np
import pandas as pd
import os

In [17]:
# set parent folder as working directory
os.chdir("..")
os.getcwd()

'c:\\Users\\isaldiviagonzatti\\OneDrive - Kiel Institut für Weltwirtschaft\\Documents\\General\\Ignacio'

In [20]:
# define paths, create output folder if not there
data_path = 'data'
output_path = 'output'

if not os.path.exists(output_path):
	os.makedirs(output_path)

#### Country names dict

In [21]:
country_to_abbrev = {
    "Andorra": "AD",
    "United Arab Emirates": "AE",
    "Afghanistan": "AF",
    "Antigua and Barbuda": "AG",
    "Anguilla": "AI",
    "Albania": "AL",
    "Armenia": "AM",
    "Angola": "AO",
    "Antarctica": "AQ",
    "Argentina": "AR",
    "American Samoa": "AS",
    "Austria": "AT",
    "Australia": "AU",
    "Aruba": "AW",
    "Åland Islands": "AX",
    "Azerbaijan": "AZ",
    "Bosnia and Herzegovina": "BA",
    "Barbados": "BB",
    "Bangladesh": "BD",
    "Belgium": "BE",
    "Burkina Faso": "BF",
    "Bulgaria": "BG",
    "Bahrain": "BH",
    "Burundi": "BI",
    "Benin": "BJ",
    "Saint Barthélemy": "BL",
    "Bermuda": "BM",
    "Brunei Darussalam": "BN",
    "Bolivia (Plurinational State of)": "BO",
    "Bonaire, Sint Eustatius and Saba": "BQ",
    "Brazil": "BR",
    "Bahamas": "BS",
    "Bhutan": "BT",
    "Bouvet Island": "BV",
    "Botswana": "BW",
    "Belarus": "BY",
    "Belize": "BZ",
    "Canada": "CA",
    "Cocos (Keeling) Islands": "CC",
    "Congo, Democratic Republic of the": "CD",
    "Central African Republic": "CF",
    "Congo": "CG",
    "Switzerland": "CH",
    "Côte d'Ivoire": "CI",
    "Cook Islands": "CK",
    "Chile": "CL",
    "Cameroon": "CM",
    "China": "CN",
    "Colombia": "CO",
    "Costa Rica": "CR",
    "Cuba": "CU",
    "Cabo Verde": "CV",
    "Curaçao": "CW",
    "Christmas Island": "CX",
    "Cyprus": "CY",
    "Czechia": "CZ",
    "Germany": "DE",
    "Djibouti": "DJ",
    "Denmark": "DK",
    "Dominica": "DM",
    "Dominican Republic": "DO",
    "Algeria": "DZ",
    "Ecuador": "EC",
    "Estonia": "EE",
    "Egypt": "EG",
    "Western Sahara": "EH",
    "Eritrea": "ER",
    "Spain": "ES",
    "Ethiopia": "ET",
    "Finland": "FI",
    "Fiji": "FJ",
    "Falkland Islands (Malvinas)": "FK",
    "Micronesia (Federated States of)": "FM",
    "Faroe Islands": "FO",
    "France": "FR",
    "Gabon": "GA",
    "United Kingdom of Great Britain and Northern Ireland": "UK", #original is GB, Eurostat uses UK
    "United Kingdom of GB": "GB",
    "Grenada": "GD",
    "Georgia": "GE",
    "French Guiana": "GF",
    "Guernsey": "GG",
    "Ghana": "GH",
    "Gibraltar": "GI",
    "Greenland": "GL",
    "Gambia": "GM",
    "Guinea": "GN",
    "Guadeloupe": "GP",
    "Equatorial Guinea": "GQ",
    "Greece": "EL", #original ir GR, Eurostat uses EL
    "South Georgia and the South Sandwich Islands": "GS",
    "Guatemala": "GT",
    "Guam": "GU",
    "Guinea-Bissau": "GW",
    "Guyana": "GY",
    "Hong Kong": "HK",
    "Heard Island and McDonald Islands": "HM",
    "Honduras": "HN",
    "Croatia": "HR",
    "Haiti": "HT",
    "Hungary": "HU",
    "Indonesia": "ID",
    "Ireland": "IE",
    "Israel": "IL",
    "Isle of Man": "IM",
    "India": "IN",
    "British Indian Ocean Territory": "IO",
    "Iraq": "IQ",
    "Iran (Islamic Republic of)": "IR",
    "Iceland": "IS",
    "Italy": "IT",
    "Jersey": "JE",
    "Jamaica": "JM",
    "Jordan": "JO",
    "Japan": "JP",
    "Kenya": "KE",
    "Kyrgyzstan": "KG",
    "Cambodia": "KH",
    "Kiribati": "KI",
    "Comoros": "KM",
    "Saint Kitts and Nevis": "KN",
    "Korea (Democratic People's Republic of)": "KP",
    "Korea, Republic of": "KR",
    "Kuwait": "KW",
    "Cayman Islands": "KY",
    "Kazakhstan": "KZ",
    "Lao People's Democratic Republic": "LA",
    "Lebanon": "LB",
    "Saint Lucia": "LC",
    "Liechtenstein": "LI",
    "Sri Lanka": "LK",
    "Liberia": "LR",
    "Lesotho": "LS",
    "Lithuania": "LT",
    "Luxembourg": "LU",
    "Latvia": "LV",
    "Libya": "LY",
    "Morocco": "MA",
    "Monaco": "MC",
    "Moldova, Republic of": "MD",
    "Montenegro": "ME",
    "Saint Martin (French part)": "MF",
    "Madagascar": "MG",
    "Marshall Islands": "MH",
    "North Macedonia": "MK",
    "Mali": "ML",
    "Myanmar": "MM",
    "Mongolia": "MN",
    "Macao": "MO",
    "Northern Mariana Islands": "MP",
    "Martinique": "MQ",
    "Mauritania": "MR",
    "Montserrat": "MS",
    "Malta": "MT",
    "Mauritius": "MU",
    "Maldives": "MV",
    "Malawi": "MW",
    "Mexico": "MX",
    "Malaysia": "MY",
    "Mozambique": "MZ",
    "Namibia": "NA",
    "New Caledonia": "NC",
    "Niger": "NE",
    "Norfolk Island": "NF",
    "Nigeria": "NG",
    "Nicaragua": "NI",
    "Netherlands": "NL",
    "Norway": "NO",
    "Nepal": "NP",
    "Nauru": "NR",
    "Niue": "NU",
    "New Zealand": "NZ",
    "Oman": "OM",
    "Panama": "PA",
    "Peru": "PE",
    "French Polynesia": "PF",
    "Papua New Guinea": "PG",
    "Philippines": "PH",
    "Pakistan": "PK",
    "Poland": "PL",
    "Saint Pierre and Miquelon": "PM",
    "Pitcairn": "PN",
    "Puerto Rico": "PR",
    "Palestine, State of": "PS",
    "Portugal": "PT",
    "Palau": "PW",
    "Paraguay": "PY",
    "Qatar": "QA",
    "Réunion": "RE",
    "Romania": "RO",
    "Serbia": "RS",
    "Russian Federation": "RU",
    "Rwanda": "RW",
    "Saudi Arabia": "SA",
    "Solomon Islands": "SB",
    "Seychelles": "SC",
    "Sudan": "SD",
    "Sweden": "SE",
    "Singapore": "SG",
    "Saint Helena, Ascension and Tristan da Cunha": "SH",
    "Slovenia": "SI",
    "Svalbard and Jan Mayen": "SJ",
    "Slovakia": "SK",
    "Sierra Leone": "SL",
    "San Marino": "SM",
    "Senegal": "SN",
    "Somalia": "SO",
    "Suriname": "SR",
    "South Sudan": "SS",
    "Sao Tome and Principe": "ST",
    "El Salvador": "SV",
    "Sint Maarten (Dutch part)": "SX",
    "Syrian Arab Republic": "SY",
    "Eswatini": "SZ",
    "Turks and Caicos Islands": "TC",
    "Chad": "TD",
    "French Southern Territories": "TF",
    "Togo": "TG",
    "Thailand": "TH",
    "Tajikistan": "TJ",
    "Tokelau": "TK",
    "Timor-Leste": "TL",
    "Turkmenistan": "TM",
    "Tunisia": "TN",
    "Tonga": "TO",
    "Turkey": "TR",
    "Trinidad and Tobago": "TT",
    "Tuvalu": "TV",
    "Taiwan, Province of China": "TW",
    "Tanzania, United Republic of": "TZ",
    "Ukraine": "UA",
    "Uganda": "UG",
    "United States Minor Outlying Islands": "UM",
    "United States of America": "US",
    "Uruguay": "UY",
    "Uzbekistan": "UZ",
    "Holy See": "VA",
    "Saint Vincent and the Grenadines": "VC",
    "Venezuela (Bolivarian Republic of)": "VE",
    "Virgin Islands (British)": "VG",
    "Virgin Islands (U.S.)": "VI",
    "Viet Nam": "VN",
    "Vanuatu": "VU",
    "Wallis and Futuna": "WF",
    "Samoa": "WS",
    "Yemen": "YE",
    "Mayotte": "YT",
    "South Africa": "ZA",
    "Zambia": "ZM",
    "Zimbabwe": "ZW",
}
    
# invert the dictionary
abbrev_to_country = dict(map(reversed, country_to_abbrev.items()))

In [22]:
countries=['Belgium','Bulgaria','Cyprus', 'Greece','Germany','Croatia','Italy', 
           'Denmark','Estonia','Spain','Finland','France','Ireland','Lithuania',
           'Latvia','Malta','Netherlands','Poland','Portugal', 'Romania',
           'Sweden','United Kingdom of Great Britain and Northern Ireland']

In [23]:
countryAbb = [x if x not in country_to_abbrev else country_to_abbrev[x] for x in countries]

### SDG Official Data

In [24]:
# SDG14 indicators from the UNstats
# https://unstats.un.org/sdgs/dataportal/database
 
sdg14 = pd.read_excel(os.path.join(data_path, "Goal14_raw.xlsx"), sheet_name=1)

In [25]:
# filter columns 
sdg14 = sdg14[['Target', 'Indicator','SeriesCode', 'GeoAreaName',
                   'TimePeriod', 'Value','Units','SeriesDescription', ]]

In [26]:
# get name used for UK
sdg14.GeoAreaName[sdg14['GeoAreaName'].str.contains("United")].unique()

array(['United Kingdom of Great Britain and Northern Ireland'],
      dtype=object)

In [27]:
# filter countries
sdg14 = sdg14[sdg14['GeoAreaName'].isin(countries)]
# show indicators
pd.DataFrame(sdg14.groupby(['Indicator', 'SeriesCode', 'SeriesDescription', 'Units']).size())

                                                                                          0
Indicator SeriesCode        SeriesDescription                                  Units
14.1.1    EN_MAR_BEALITSQ   Beach litter per square kilometer (Number)         NUMBER    90
          EN_MAR_BEALIT_BP  Beach litter originating from national land-bas... PERCENT  110
          EN_MAR_BEALIT_BV  Beach litter originating from national land-bas... TONNES   110
          EN_MAR_BEALIT_EXP Exported beach litter originating from national... TONNES   110
          EN_MAR_BEALIT_OP  Beach litter originating from national land-bas... PERCENT  110
          EN_MAR_BEALIT_OV  Beach litter originating from national land-bas... TONNES   110
          EN_MAR_CHLANM     Chlorophyll-a anomaly, remote sensing (%)          PERCENT  147
          EN_MAR_CHLDEV     Chlorophyll-a deviations, remote sensing (%)       PERCENT  372
14.2.1    EN_SCP_ECSYBA     Number of countries using ecosystem-based appro... NUMBER    10
14.3.1    ER_OAW_MNACD      Average marine acidity (pH) measured at agreed ... PH       434
14.4.1    ER_H2O_FWTL       Proportion of fish stocks within biologically s... PERCENT   23
14.5.1    ER_MRN_MARIN      Coverage of protected areas in relation to mari... PERCENT   22
          ER_MRN_MARINT     Protected marine area (Exclusive Economic Zones... KMSQ      22
          ER_MRN_MPA        Average proportion of Marine Key Biodiversity A... PERCENT  484
14.6.1    ER_REG_UNFCIM     Progress by countries in the degree of implemen... NUMBER    66
14.7.1    EN_SCP_FSHGDP     Sustainable fisheries as a proportion of GDP       PERCENT  440
14.a.1    ER_RDE_OSEX       National ocean science expenditure as a share o... PERCENT   48
14.b.1    ER_REG_SSFRAR     Degree of application of a legal/regulatory/pol... NUMBER    66
14.c.1    ER_UNCLOS_IMPLE   Score for the implementation of UNCLOS and its ... PERCENT   11
          ER_UNCLOS_RATACC  Score for the ratification of and accession to ... PERCENT   11

In [44]:
sdg14EZZ = sdg14[sdg14['SeriesCode']=='ER_REG_SSFRAR'].pivot_table(columns='TimePeriod', index='GeoAreaName', values='Value', aggfunc='mean')

sdg14EZZ
#[[2012,2014,2021]]

TimePeriod                                          2018  2020  2022
GeoAreaName
Belgium                                              4.0   4.0   5.0
Bulgaria                                             4.0   4.0   5.0
Croatia                                              4.0   4.0   5.0
Cyprus                                               4.0   4.0   5.0
Denmark                                              4.0   4.0   5.0
Estonia                                              4.0   4.0   5.0
Finland                                              4.0   NaN   5.0
France                                               4.0   4.0   5.0
Germany                                              4.0   4.0   5.0
Greece                                               4.0   4.0   5.0
Ireland                                              4.0   4.0   5.0
Italy                                                4.0   NaN   5.0
Latvia                                               4.0   4.0   5.0
Lithuania                                            4.0   4.0   5.0
Malta                                                4.0   4.0   5.0
Netherlands                                          4.0   4.0   5.0
Poland                                               4.0   4.0   5.0
Portugal                                             4.0   4.0   5.0
Romania                                              4.0   4.0   5.0
Spain                                                4.0   4.0   5.0
Sweden                                               4.0   4.0   5.0
United Kingdom of Great Britain and Northern Ir...   4.0   NaN   4.0

### 14.1

#### (b) Floating Plastic Debris Density

In [30]:
# Plastic Waste kg/ha, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_WASGEN/

wasteG = pd.read_csv(os.path.join(data_path,'env_wasgen.csv')) #read file
wasteG = wasteG[wasteG['geo'].isin(countryAbb)] #filter countries
wasteG['geo'] = wasteG['geo'].map(abbrev_to_country).fillna(wasteG['geo']) #change abb to name
wasteG  = wasteG[wasteG['unit']=='KG_HAB'].pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean') #pivot table 

mr = wasteG.columns[-1] # most recent year
wasteG
#maxMin transformation as (x-max)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
(wasteG[[2012, 2014, mr]].max().max() - wasteG[[2012,2014, mr]])/(wasteG[[2012,2014, mr]].max().max() - wasteG[[2012,2014, mr]].min().min())*100

TIME_PERIOD,2012,2014,2020
geo,,,
Belgium,54.621849,0.000000,31.932773
Bulgaria,92.436975,81.512605,59.663866
Croatia,96.638655,94.117647,78.151261
Cyprus,100.000000,99.159664,88.235294
Denmark,88.235294,89.075630,84.033613
Estonia,89.915966,83.193277,77.310924
Finland,89.915966,86.554622,84.033613
France,83.193277,82.352941,73.949580
Germany,78.151261,76.470588,73.109244
Greece,94.117647,89.075630,90.756303
Ireland,82.352941,71.428571,70.588235
Italy,64.705882,59.663866,35.294118
Latvia,94.957983,94.117647,54.621849
Lithuania,89.915966,83.193277,70.588235
Malta,95.798319,93.277311,89.915966
Netherlands,75.630252,75.630252,73.109244
Poland,83.193277,78.151261,54.621849
Portugal,89.915966,85.714286,68.067227
Romania,84.033613,89.915966,90.756303
Spain,84.033613,84.033613,88.235294
Sweden,89.075630,78.151261,76.470588
United Kingdom of Great Britain and Northern Ireland,73.109244,69.747899,NaN

In [32]:
# Recovery rates for packaging waste, Plastic Packaging, Percentage, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ten00062/

wasteR = pd.read_csv(os.path.join(data_path,'ten00062.csv'))
wasteR = wasteR[wasteR['geo'].isin(countryAbb)]
wasteR['geo'] = wasteR['geo'].map(abbrev_to_country).fillna(wasteR['geo'])
wasteR = wasteR.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

mr = wasteR.columns[-1] # most recent year
wasteR = wasteR.ffill(axis = 1) #fill empty values with last available year
wasteR[[2012, 2014, mr]]

TIME_PERIOD                                         2012  2014   2020
geo
Belgium                                             92.7  98.3   99.4
Bulgaria                                            44.1  64.1   50.6
Croatia                                             45.4  38.0   34.1
Cyprus                                              44.8  46.6   51.9
Denmark                                             99.4  98.2   73.1
Estonia                                             44.0  75.9   87.4
Finland                                             51.0  68.3   99.4
France                                              64.0  64.0   71.8
Germany                                             99.7  99.8   99.9
Greece                                              32.2  32.8   37.6
Ireland                                             74.3  83.2  100.0
Italy                                               71.8  78.9   88.4
Latvia                                              38.7  39.0   47.9
Lithuania                                           38.9  51.2   63.4
Malta                                               33.3  33.6   10.2
Netherlands                                         98.1  97.9   94.9
Poland                                              26.2  35.8   45.0
Portugal                                            39.4  48.5   56.9
Romania                                             51.9  46.1   37.0
Spain                                               53.2  59.0   55.5
Sweden                                              58.1  56.8   50.7
United Kingdom of Great Britain and Northern Ir...  38.1  48.1   56.2

#### (a) Index of coastal eutrophication

In [33]:
#Gross nutrient balance (Nitrogen kg/ha), Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/AEI_PR_GNB__custom_153613/

nitro = pd.read_csv(os.path.join(data_path,'aei_pr_gnb.csv'))
nitro = nitro[nitro['geo'].isin(countryAbb)]
nitro['geo'] = nitro['geo'].map(abbrev_to_country).fillna(nitro['geo'])
nitro.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

TIME_PERIOD,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
geo,,,,,,,,,,,,,,,,,,,,,
Belgium,254.0,241.0,232.0,233.0,225.0,189.9,180.0,169.5,151.6,145.6,...,129.3,142.0,143.2,143.1,137.9,131.7,132.0,NaN,NaN,NaN
Bulgaria,29.0,42.0,33.0,21.0,30.0,28.2,26.8,21.6,31.3,18.9,...,20.3,14.2,11.9,24.2,15.8,27.6,28.0,71.10,65.80,61.8
Croatia,NaN,NaN,NaN,NaN,NaN,122.8,122.8,109.3,119.4,111.1,...,61.6,80.8,93.2,86.3,43.9,48.3,59.7,35.40,65.10,57.6
Cyprus,207.0,211.0,216.0,214.0,197.0,186.0,191.2,209.0,181.1,172.3,...,177.6,191.4,198.7,184.4,178.5,194.3,194.0,NaN,NaN,NaN
Denmark,156.0,139.0,132.0,132.0,125.0,131.7,127.4,124.4,117.5,121.3,...,86.5,90.0,88.0,83.4,87.1,79.8,80.0,NaN,NaN,NaN
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,...,25.1,30.8,32.4,28.0,NaN,NaN,NaN,NaN,NaN,NaN
Finland,79.0,71.0,66.0,74.0,64.0,54.9,59.1,54.8,55.8,53.1,...,38.0,57.1,50.2,47.5,46.5,47.5,49.5,47.40,51.50,58.0
France,55.0,58.0,53.0,51.0,55.0,42.6,49.5,39.6,61.0,35.6,...,29.8,36.3,49.1,23.5,29.7,29.6,37.3,47.50,33.70,40.8
Germany,109.0,106.0,99.0,97.0,102.0,110.0,97.5,100.7,113.7,84.5,...,65.4,77.7,88.6,75.1,78.9,65.9,81.8,69.05,61.51,77.9
Greece,90.0,92.0,87.0,89.0,86.0,81.8,78.9,83.6,82.7,79.0,...,64.5,71.1,52.3,50.2,55.7,58.6,59.0,NaN,NaN,NaN
Ireland,72.0,74.0,66.0,81.0,79.0,71.2,64.2,65.2,70.6,66.0,...,34.8,44.6,28.2,35.1,50.4,45.7,47.8,54.10,62.30,NaN
Italy,68.0,70.0,73.0,67.0,66.0,71.4,72.3,71.7,78.8,64.5,...,60.3,58.8,62.5,79.6,70.1,65.7,66.0,64.60,68.00,NaN
Latvia,9.0,8.0,11.0,7.0,12.0,10.5,22.0,13.7,19.7,16.1,...,21.7,29.2,28.3,24.0,27.7,27.8,28.0,25.40,22.20,26.4
Lithuania,26.0,31.0,30.0,32.0,36.0,31.4,33.0,36.2,41.6,39.9,...,35.5,43.8,40.0,29.2,31.2,24.8,25.0,NaN,NaN,43.5
Malta,222.0,226.0,244.0,179.0,196.0,257.1,270.0,244.9,203.0,260.9,...,199.9,168.6,131.9,140.5,147.2,147.2,147.0,NaN,NaN,NaN
Netherlands,332.9,308.9,299.9,316.4,291.9,253.8,229.6,196.8,229.4,209.7,...,171.3,171.8,172.8,170.0,171.4,162.6,192.4,194.50,182.00,196.0
Poland,33.5,38.6,42.5,38.7,40.5,44.2,39.6,44.9,50.8,39.2,...,47.8,52.0,53.0,48.1,54.8,39.8,47.8,44.10,48.40,61.8
Portugal,44.4,46.8,49.6,51.0,34.2,39.1,47.2,36.0,41.8,38.8,...,36.0,40.3,39.6,43.9,38.7,44.9,44.3,46.70,44.90,45.5
Romania,15.0,19.0,9.0,12.0,8.0,13.1,6.9,12.5,14.0,0.3,...,18.1,-0.9,-11.2,16.3,4.2,-0.7,8.6,-1.40,-12.60,-27.4
Spain,34.0,33.0,30.0,33.0,39.0,40.2,40.5,35.5,39.5,35.8,...,31.1,35.2,29.5,33.6,28.7,39.4,38.5,39.00,49.30,NaN
Sweden,60.8,52.8,57.3,59.8,54.0,54.6,57.8,50.3,50.5,46.9,...,30.1,38.2,42.2,31.2,34.5,30.7,31.7,36.70,35.30,60.6
United Kingdom of Great Britain and Northern Ireland,119.0,NaN,NaN,NaN,NaN,107.0,109.0,102.0,95.9,95.5,...,84.1,89.7,85.3,87.5,88.3,85.1,83.3,86.50,86.10,NaN

### 14.3

####  Average marine acidity (pH) measured at agreed suite of representative sampling stations

In [34]:
# Population on 1 January, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/tps00001/

pop = pd.read_csv(os.path.join(data_path,'tps00001.csv'))
pop = pop[pop['geo'].isin(countryAbb)]
pop['geo'] = pop['geo'].map(abbrev_to_country).fillna(pop['geo'])
pop = pop.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

In [35]:
# Greenhouse gas emissions under the Effort Sharing Decision (ESD), Million tonnes CO2 equivalent (Mt CO2 eq), European Environment Agency
# https://www.eea.europa.eu/data-and-maps/data/esd-4

ghgESD = pd.read_excel(os.path.join(data_path,'EEA_ESD-GHG_2022.xlsx'), sheet_name=1, skiprows=11)
ghgESD = ghgESD[ghgESD['Geographic entity'].isin(countries)]
ghgESD = ghgESD.set_index('Geographic entity')
ghgESD = ghgESD.dropna(axis=1)

mr = ghgESD.columns[-1] # most recent year
ghgESD[[2012, 2016, mr]]

                         2012        2016        2021
Geographic entity
Belgium             73.941551   74.063149   69.526211
Bulgaria            23.239884   25.587947   25.480952
Croatia             16.280625   16.006813   16.233205
Cyprus               4.250998    4.111441    4.604652
Denmark             35.677561   33.124678   29.372533
Estonia              6.475652    6.218046    6.134968
Finland             31.976059   31.358144   27.193424
France             365.369122  351.924668  327.477527
Germany            438.770433  454.157411  405.654586
Greece              48.344795   44.897200   42.678757
Ireland             41.511968   43.798177   45.154836
Italy              297.128969  270.685435  271.677567
Latvia               8.081339    9.107440    8.641859
Lithuania           12.710486   13.921700   14.626247
Malta                1.077945    1.329995    1.308573
Netherlands        115.471985  101.333437   92.652885
Poland             198.705035  198.664758  209.721323
Portugal            39.237743   41.572594   40.481865
Romania             72.798258   73.123042   82.274115
Spain              204.196898  198.472205  194.802937
Sweden              37.289991   32.612247   29.336045

In [36]:
# CO2, KG_HAB, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_AC_AINAH_R2

co2 = pd.read_csv(os.path.join(data_path,'env_ac_ainah_r2.csv'))
co2 = co2[co2['geo'].isin(countryAbb)]
co2['geo'] = co2['geo'].map(abbrev_to_country).fillna(co2['geo'])
co2 = co2.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

mr = co2.columns[-1] # most recent year
co2[[2012, 2016, mr]]/1000

TIME_PERIOD,2012,2016,2021
geo,,,
Belgium,6.598775,6.285137,5.892694
Bulgaria,6.452205,6.249124,5.921821
Croatia,3.313530,3.130383,2.967264
Cyprus,6.612553,6.587503,6.021738
Denmark,12.735182,11.728105,8.915469
Estonia,13.444888,12.789470,7.573749
Finland,8.914348,8.179107,6.142578
France,3.872669,3.531338,3.130740
Germany,8.635811,8.097228,6.412099
Greece,7.624689,6.347441,5.542785
Ireland,7.387593,8.420308,6.316564
Italy,5.101291,4.290697,4.054378
Latvia,3.591673,3.516466,3.415178
Lithuania,4.104619,4.286995,5.951918
Malta,6.534581,3.018654,2.864855
Netherlands,8.923703,8.990254,7.255773
Poland,7.409088,7.399639,7.733493
Portugal,4.212221,4.301518,3.333236
Romania,4.024127,3.261973,3.386069
Spain,4.763125,4.345634,3.556975
Sweden,4.182434,3.870833,2.951033
United Kingdom of Great Britain and Northern Ireland,6.308373,4.901113,NaN

In [37]:
# CO2, TOTX4_MEMONIA, THS_T thousand tonnes, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_AIR_GGE/

co2 = pd.read_csv(os.path.join(data_path,'env_air_gge.csv'))
co2 = co2[co2['geo'].isin(countryAbb)]
co2['geo'] = co2['geo'].map(abbrev_to_country).fillna(co2['geo'])
co2 = co2.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

mr = co2.columns[-1] # most recent year
#co2[[2012, 2016, mr]] /1000  # million metric tonnes

co2pc = co2[[2012, 2016, 2020]]/pop[[2012, 2016, 2020]]*1000  ## tonnes co2 per capita 
co2pc

TIME_PERIOD,2012,2016,2020
geo,,,
Belgium,9.610486,9.192649,8.155780
Bulgaria,6.663881,6.447040,5.377837
Croatia,4.541044,4.410935,4.197550
Cyprus,9.398094,9.735017,8.561990
Denmark,7.658618,7.034621,5.065501
Estonia,13.563281,13.448315,7.084492
Finland,9.830334,8.967016,6.973570
France,5.875707,5.432116,4.407393
Germany,10.441041,10.061325,7.851746
Greece,8.458969,6.903288,5.311701
Ireland,8.708375,9.087713,7.318239
Italy,6.947134,6.073877,5.131773
Latvia,3.860529,3.860150,3.766501
Lithuania,4.840715,4.721411,4.944615
Malta,7.244040,3.882309,3.493735
Netherlands,10.481150,10.423888,8.323972
Poland,8.623614,8.596532,8.031805
Portugal,5.018060,5.218463,4.225050
Romania,4.510243,3.941247,3.842944
Spain,6.251912,5.973530,4.642961
Sweden,5.176026,4.663870,3.625572
United Kingdom of Great Britain and Northern Ireland,8.145732,6.585252,5.052171

In [38]:
# Fossil CO2 emissions by country (territorial), million tonnes of carbon per year (1MtC = 1 million tonne of carbon = 3.664 million tonnes of CO2)
# https://globalcarbonbudget.org/carbonbudget/

co2T = pd.read_excel(os.path.join(data_path,'National_Fossil_Carbon_Emissions_2022v1.0.xlsx'), sheet_name=1, skiprows=11) 
co2T = co2T.T
co2T.columns = co2T.iloc[0,:]
co2T.columns = co2T.columns.astype(int)
co2T = co2T.rename_axis(index='geo', columns=None)
co2T = co2T[co2T.index.isin(countries)]

mr = co2T.columns[-1] # most recent year
co2T = co2T[[2012, 2016, mr]] * 3.664 # convert from carbon to co2 

co2pc = co2T/pop[[2012, 2016, 2021]]*1000_000  ## tonnes co2 per capita 
co2pc

,2012,2016,2021
geo,,,
Belgium,9.241302,8.805640,8.284225
Bulgaria,6.597165,6.358077,6.153389
Croatia,4.463862,4.321271,4.385504
Cyprus,8.426844,8.694153,8.482547
Denmark,7.144668,6.488809,5.064508
Estonia,13.427859,13.343541,7.856005
Finland,9.469202,8.598362,6.795037
France,5.467664,5.018725,4.522298
Germany,10.129644,9.739375,8.114405
Greece,8.243662,6.617751,5.273080
Ireland,8.329651,8.541494,7.498582
Italy,6.796907,5.904216,5.548756
Latvia,3.677309,3.662002,3.838013
Lithuania,4.777364,4.622091,4.965102
Malta,6.529117,3.011340,3.340736
Netherlands,9.843715,9.709692,8.071078
Poland,8.583878,8.543721,8.683397
Portugal,4.738932,4.877732,3.961567
Romania,4.490409,3.897229,4.131250
Spain,5.967441,5.625045,4.929451
Sweden,4.947727,4.407259,3.453891
United Kingdom of Great Britain and Northern Ireland,NaN,NaN,NaN

### 14.4

####   Proportion of fish stocks within biologically sustainable levels

### 14.5

####  Coverage of protected areas in relation to marine area

In [39]:
# Marine protected areas (% of territorial waters), World Bank aggregation of https://www.protectedplanet.net/en/thematic-areas/marine-protected-areas
# https://data.worldbank.org/indicator/ER.MRN.PTMR.ZS

mpa = pd.read_csv(os.path.join(data_path,'API_ER.MRN.PTMR.ZS_DS2.csv'), skiprows=4)
mpa = mpa[mpa['Country Name'].isin(countries)]
mpa = mpa.set_index('Country Name')
mpa = mpa.dropna(axis=1)
mpa = mpa[['2016', '2021']]

mpa = (mpa/0.3).round(2)  # dis-ref with target 30%
mpa[mpa>100] = 100
mpa

                2016    2021
Country Name
Belgium       100.00  100.00
Bulgaria       27.01   27.03
Cyprus          0.41   28.74
Germany       100.00  100.00
Denmark        59.49   61.07
Spain          29.10   42.52
Estonia        62.09   62.60
Finland        37.10   39.96
France         87.22  100.00
Greece          4.86   15.06
Croatia        28.47   29.96
Ireland         7.77    7.77
Italy          29.28   32.45
Lithuania      71.72   85.31
Latvia         53.45   53.46
Malta          20.88   24.82
Netherlands    71.64   89.53
Poland         75.24   75.24
Portugal       27.86   56.06
Romania        28.09   77.00
Sweden         27.35   52.54

In [40]:
# OHI Index 
# https://oceanhealthindex.org/global-scores/data-download/

ohi = pd.read_csv(os.path.join(data_path,'scoresOHI.csv'))
ohi = ohi[ohi['region_name'].isin(countries)]
ohi = ohi[(ohi.long_goal == 'Biodiversity')  & (ohi.dimension == 'score') ]
ohi = ohi.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

ohi[[2012, 2016, 2022]]

scenario      2012   2016   2022
region_name
Belgium      74.65  70.37  71.53
Bulgaria     76.12  67.76  66.19
Croatia      60.77  54.34  55.65
Cyprus       68.48  66.02  64.07
Denmark      72.56  70.68  71.17
Estonia      80.68  75.47  74.96
Finland      79.25  72.17  73.02
France       72.20  69.96  75.08
Germany      73.45  69.15  72.25
Greece       66.28  61.41  59.42
Ireland      67.64  64.11  66.89
Italy        68.72  63.66  64.08
Latvia       77.70  71.71  72.39
Lithuania    76.04  69.74  71.82
Malta        72.23  65.00  64.19
Netherlands  67.14  66.32  68.68
Poland       67.41  64.34  66.45
Portugal     75.73  71.86  72.07
Romania      82.49  71.55  70.55
Spain        72.29  67.51  68.31
Sweden       75.00  73.51  70.96

### 14.6

####  Degree of implementation of international instruments aiming to combat illegal, unreported and unregulated fishing

In [41]:
# Fisheries Support Estimate
# https://stats.oecd.org/Index.aspx?DataSetCode=FISH_FSE

fse = pd.read_csv(os.path.join(data_path,'FISH_FSE.csv'))
fse = fse[fse['Country'].isin(countries)]
# fse = fse[(fse.long_goal == 'Biodiversity')  & (fse.dimension == 'score') ]
# fse = fse.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

'I.E.1. Fuel tax concessions'

# e i) transfers to individual fishers (including market prize support and fuel tax concessions) and ii) general 
# service support transfers (excluding transfers for the management of resources, education and training, 
# and research and development.) 


# fse[[2012, 2016, 2022]]

fse.Variable.unique()

array(['I.A. Transfers based on input use',
       'I.A.2. Transfers based on fixed capital formation',
       'I.A.2.1.Support to vessel construction/purchase',
       'I.A.2.2.Support to modernisation',
       'II.B. Provision of infrastructure',
       'II.B.1. Capital expenditures', 'II.C. Marketing and promotion',
       'II.D. Support to fishing communities',
       'II.F. Research and development', 'II.G. Management of resources',
       'II.G.2. Stock enhancement programs',
       'II.H. Miscellaneous support for services to the sector',
       'I.E. Tax exemptions', 'I.E.1. Fuel tax concessions',
       'I.C. Transfers based on the reduction of productive capacity',
       'I.D. Miscellaneous direct support to individuals and companies',
       'II.G.1. Management expenditures',
       'II.G.3. Enforcement expenditures',
       'III.C. Payments made by the fisheries sector, for management, research and enforcement',
       'I.B. Transfers based on fishers income', 'I.B.1. Income support',
       'II.B.2. Subsidized access to infrastructure',
       'I.A.2.3.Support to other fixed costs',
       'II.E. Education and training',
       'II.A. Access to other countries’ waters',
       'III.A. Payments made by the fisheries sector, for resource access rights',
       'I.B.2. Special insurance system for fishers',
       'I.A.1. Transfers based on variable input use',
       'III.E. Payments made by the fisheries sector, Other',
       'III.B. Payments made by the fisheries sector, for infrastructure access'],
      dtype=object)

In [42]:
# TAC/Catch

### 14.7

####  Sustainable fisheries as a proportion of GDP in small island developing States, least developed countries and all countries

### 14.a

#### Proportion of total research budget allocated to research in the field of marine technology

### 14.b

#### Degree of application of a legal/regulatory/policy/institutional framework which recognizes and protects access rights for small‐scale fisheries