---
title: "SDG14"
author: "Ignacio Saldivia Gonzatti"
date: "2/07/2023"
format: 
  html:
    embed-resources: true
    theme:
              light: flatly
              dark: darkly
    toc: true
    code-fold: true
    output-dir: ../output
  pdf:
   echo: false 
   output-dir: ../output
execute:
  warning: false
  enabled: false
jupyter: python3
---

TODO:

Change negative values used in minmax to 0

Import packages and set things up

In [542]:
import numpy as np
import pandas as pd
import os
import requests
import json
from xml.etree import ElementTree as ET
import matplotlib.pyplot as plt
import webbrowser

In [543]:
# show all output from cells
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" #last_expr

In [544]:
# create output folder if not there
if not os.path.exists('../output'):
	os.makedirs('../output')

#### Country names dict

In [545]:
country_to_abbrev = {
    "Andorra": "AD",
    "United Arab Emirates": "AE",
    "Afghanistan": "AF",
    "Antigua and Barbuda": "AG",
    "Anguilla": "AI",
    "Albania": "AL",
    "Armenia": "AM",
    "Angola": "AO",
    "Antarctica": "AQ",
    "Argentina": "AR",
    "American Samoa": "AS",
    "Austria": "AT",
    "Australia": "AU",
    "Aruba": "AW",
    "Åland Islands": "AX",
    "Azerbaijan": "AZ",
    "Bosnia and Herzegovina": "BA",
    "Barbados": "BB",
    "Bangladesh": "BD",
    "Belgium": "BE",
    "Burkina Faso": "BF",
    "Bulgaria": "BG",
    "Bahrain": "BH",
    "Burundi": "BI",
    "Benin": "BJ",
    "Saint Barthélemy": "BL",
    "Bermuda": "BM",
    "Brunei Darussalam": "BN",
    "Bolivia (Plurinational State of)": "BO",
    "Bonaire, Sint Eustatius and Saba": "BQ",
    "Brazil": "BR",
    "Bahamas": "BS",
    "Bhutan": "BT",
    "Bouvet Island": "BV",
    "Botswana": "BW",
    "Belarus": "BY",
    "Belize": "BZ",
    "Canada": "CA",
    "Cocos (Keeling) Islands": "CC",
    "Congo, Democratic Republic of the": "CD",
    "Central African Republic": "CF",
    "Congo": "CG",
    "Switzerland": "CH",
    "Côte d'Ivoire": "CI",
    "Cook Islands": "CK",
    "Chile": "CL",
    "Cameroon": "CM",
    "China": "CN",
    "Colombia": "CO",
    "Costa Rica": "CR",
    "Cuba": "CU",
    "Cabo Verde": "CV",
    "Curaçao": "CW",
    "Christmas Island": "CX",
    "Cyprus": "CY",
    "Czechia": "CZ",
    "Germany": "DE",
    "Djibouti": "DJ",
    "Denmark": "DK",
    "Dominica": "DM",
    "Dominican Republic": "DO",
    "Algeria": "DZ",
    "Ecuador": "EC",
    "Estonia": "EE",
    "Egypt": "EG",
    "Western Sahara": "EH",
    "Eritrea": "ER",
    "Spain": "ES",
    "Ethiopia": "ET",
    "Finland": "FI",
    "Fiji": "FJ",
    "Falkland Islands (Malvinas)": "FK",
    "Micronesia (Federated States of)": "FM",
    "Faroe Islands": "FO",
    "France": "FR",
    "Gabon": "GA",
    "United Kingdom": "UK",
    "Grenada": "GD",
    "Georgia": "GE",
    "French Guiana": "GF",
    "Guernsey": "GG",
    "Ghana": "GH",
    "Gibraltar": "GI",
    "Greenland": "GL",
    "Gambia": "GM",
    "Guinea": "GN",
    "Guadeloupe": "GP",
    "Equatorial Guinea": "GQ",
    "Greece": "GR", 
    "South Georgia and the South Sandwich Islands": "GS",
    "Guatemala": "GT",
    "Guam": "GU",
    "Guinea-Bissau": "GW",
    "Guyana": "GY",
    "Hong Kong": "HK",
    "Heard Island and McDonald Islands": "HM",
    "Honduras": "HN",
    "Croatia": "HR",
    "Haiti": "HT",
    "Hungary": "HU",
    "Indonesia": "ID",
    "Ireland": "IE",
    "Israel": "IL",
    "Isle of Man": "IM",
    "India": "IN",
    "British Indian Ocean Territory": "IO",
    "Iraq": "IQ",
    "Iran (Islamic Republic of)": "IR",
    "Iceland": "IS",
    "Italy": "IT",
    "Jersey": "JE",
    "Jamaica": "JM",
    "Jordan": "JO",
    "Japan": "JP",
    "Kenya": "KE",
    "Kyrgyzstan": "KG",
    "Cambodia": "KH",
    "Kiribati": "KI",
    "Comoros": "KM",
    "Saint Kitts and Nevis": "KN",
    "Korea (Democratic People's Republic of)": "KP",
    "Korea, Republic of": "KR",
    "Kuwait": "KW",
    "Cayman Islands": "KY",
    "Kazakhstan": "KZ",
    "Lao People's Democratic Republic": "LA",
    "Lebanon": "LB",
    "Saint Lucia": "LC",
    "Liechtenstein": "LI",
    "Sri Lanka": "LK",
    "Liberia": "LR",
    "Lesotho": "LS",
    "Lithuania": "LT",
    "Luxembourg": "LU",
    "Latvia": "LV",
    "Libya": "LY",
    "Morocco": "MA",
    "Monaco": "MC",
    "Moldova, Republic of": "MD",
    "Montenegro": "ME",
    "Saint Martin (French part)": "MF",
    "Madagascar": "MG",
    "Marshall Islands": "MH",
    "North Macedonia": "MK",
    "Mali": "ML",
    "Myanmar": "MM",
    "Mongolia": "MN",
    "Macao": "MO",
    "Northern Mariana Islands": "MP",
    "Martinique": "MQ",
    "Mauritania": "MR",
    "Montserrat": "MS",
    "Malta": "MT",
    "Mauritius": "MU",
    "Maldives": "MV",
    "Malawi": "MW",
    "Mexico": "MX",
    "Malaysia": "MY",
    "Mozambique": "MZ",
    "Namibia": "NA",
    "New Caledonia": "NC",
    "Niger": "NE",
    "Norfolk Island": "NF",
    "Nigeria": "NG",
    "Nicaragua": "NI",
    "Netherlands": "NL",
    "Norway": "NO",
    "Nepal": "NP",
    "Nauru": "NR",
    "Niue": "NU",
    "New Zealand": "NZ",
    "Oman": "OM",
    "Panama": "PA",
    "Peru": "PE",
    "French Polynesia": "PF",
    "Papua New Guinea": "PG",
    "Philippines": "PH",
    "Pakistan": "PK",
    "Poland": "PL",
    "Saint Pierre and Miquelon": "PM",
    "Pitcairn": "PN",
    "Puerto Rico": "PR",
    "Palestine, State of": "PS",
    "Portugal": "PT",
    "Palau": "PW",
    "Paraguay": "PY",
    "Qatar": "QA",
    "Réunion": "RE",
    "Romania": "RO",
    "Serbia": "RS",
    "Russian Federation": "RU",
    "Rwanda": "RW",
    "Saudi Arabia": "SA",
    "Solomon Islands": "SB",
    "Seychelles": "SC",
    "Sudan": "SD",
    "Sweden": "SE",
    "Singapore": "SG",
    "Saint Helena, Ascension and Tristan da Cunha": "SH",
    "Slovenia": "SI",
    "Svalbard and Jan Mayen": "SJ",
    "Slovakia": "SK",
    "Sierra Leone": "SL",
    "San Marino": "SM",
    "Senegal": "SN",
    "Somalia": "SO",
    "Suriname": "SR",
    "South Sudan": "SS",
    "Sao Tome and Principe": "ST",
    "El Salvador": "SV",
    "Sint Maarten (Dutch part)": "SX",
    "Syrian Arab Republic": "SY",
    "Eswatini": "SZ",
    "Turks and Caicos Islands": "TC",
    "Chad": "TD",
    "French Southern Territories": "TF",
    "Togo": "TG",
    "Thailand": "TH",
    "Tajikistan": "TJ",
    "Tokelau": "TK",
    "Timor-Leste": "TL",
    "Turkmenistan": "TM",
    "Tunisia": "TN",
    "Tonga": "TO",
    "Turkey": "TR",
    "Trinidad and Tobago": "TT",
    "Tuvalu": "TV",
    "Taiwan, Province of China": "TW",
    "Tanzania, United Republic of": "TZ",
    "Ukraine": "UA",
    "Uganda": "UG",
    "United States Minor Outlying Islands": "UM",
    "United States of America": "US",
    "Uruguay": "UY",
    "Uzbekistan": "UZ",
    "Holy See": "VA",
    "Saint Vincent and the Grenadines": "VC",
    "Venezuela (Bolivarian Republic of)": "VE",
    "Virgin Islands (British)": "VG",
    "Virgin Islands (U.S.)": "VI",
    "Viet Nam": "VN",
    "Vanuatu": "VU",
    "Wallis and Futuna": "WF",
    "Samoa": "WS",
    "Yemen": "YE",
    "Mayotte": "YT",
    "South Africa": "ZA",
    "Zambia": "ZM",
    "Zimbabwe": "ZW",
}
    
# invert the dictionary
abbrev_to_country = dict(map(reversed, country_to_abbrev.items()))
abbrev_to_country['EL'] = 'Greece'
abbrev_to_country['GB'] = 'United Kingdom'

In [546]:
allEurope = pd.read_csv('../data/Countries-Europe.csv')
allEurope = allEurope.name.to_list()

In [547]:
countries=['Belgium','Bulgaria','Cyprus', 'Greece','Germany','Croatia','Italy', 
           'Denmark','Estonia','Spain','Finland','France','Ireland','Lithuania',
           'Latvia','Malta','Netherlands','Poland','Portugal', 'Romania',
           'Sweden', 'United Kingdom']
countryAbb = [x if x not in country_to_abbrev else country_to_abbrev[x] for x in countries]

### SDG Official Data

In [548]:
# SDG14 indicators from the UNstats
# https://unstats.un.org/sdgs/dataportal/database

sdg14 = pd.read_excel("../data/Goal14_april2023.xlsx", sheet_name=0)
sdg14 = sdg14[['Target', 'Indicator','SeriesCode', 'GeoAreaName',
                   'TimePeriod', 'Value','Units','SeriesDescription', ]]

sdg14.Value.replace('N', np.nan, inplace=True)
sdg14.Value = sdg14.Value.astype(np.float64)
                  
# filter countries
# sdg14 = sdg14[sdg14['GeoAreaName'].isin(countries)]
# show indicators
pd.DataFrame(sdg14.groupby(['Indicator', 'SeriesCode', 'SeriesDescription', 'Units']).size())

                                                                                           0
Indicator SeriesCode        SeriesDescription                                  Units
14.1.1    EN_MAR_BEALITSQ   Beach litter per square kilometer (Number)         NUMBER    611
          EN_MAR_BEALIT_BP  Beach litter originating from national land-bas... PERCENT   900
          EN_MAR_BEALIT_BV  Beach litter originating from national land-bas... TONNES    900
          EN_MAR_BEALIT_EXP Exported beach litter originating from national... TONNES    900
          EN_MAR_BEALIT_OP  Beach litter originating from national land-bas... PERCENT   900
          EN_MAR_BEALIT_OV  Beach litter originating from national land-bas... TONNES    900
          EN_MAR_CHLANM     Chlorophyll-a anomaly, remote sensing (%)          PERCENT  2784
          EN_MAR_CHLDEV     Chlorophyll-a deviations, remote sensing (%)       PERCENT  4131
          EN_MAR_PLASDD     Floating plastic debris density (count per km2)    NUMBER      3
14.2.1    EN_SCP_ECSYBA     Number of countries using ecosystem-based appro... NUMBER     33
14.3.1    ER_OAW_MNACD      Average marine acidity (pH) measured at agreed ... PH        903
14.4.1    ER_H2O_FWTL       Proportion of fish stocks within biologically s... PERCENT   422
14.5.1    ER_MRN_MPA        Average proportion of Marine Key Biodiversity A... PERCENT  6049
14.6.1    ER_REG_UNFCIM     Progress by countries in the degree of implemen... NUMBER    882
14.7.1    EN_SCP_FSHGDP     Sustainable fisheries as a proportion of GDP       PERCENT  5880
14.a.1    ER_RDE_OSEX       National ocean science expenditure as a share o... PERCENT   159
14.b.1    ER_REG_SSFRAR     Degree of application of a legal/regulatory/pol... NUMBER    882
14.c.1    ER_UNCLOS_IMPLE   Score for the implementation of UNCLOS and its ... PERCENT    63
          ER_UNCLOS_RATACC  Score for the ratification of and accession to ... PERCENT    63

#### Check official data by indicator

In [549]:
sdg14check = sdg14[sdg14['GeoAreaName'].isin(countries)]
sdg14check.loc[sdg14check['GeoAreaName'].str.contains(r'^(?=.*United)(?=.*Kingdom)'), 'GeoAreaName'] = 'United Kingdom'
sdg14check = sdg14check[sdg14check['SeriesCode']=='ER_UNCLOS_RATACC'].pivot_table(columns='TimePeriod', index='GeoAreaName', values='Value', aggfunc='mean')
sdg14check
missing = []
for i in countries:
    if i not in sdg14check.index.unique():
        missing.append(i)
print('Missing countries:','\n', '\n'.join(missing))

TimePeriod    2021   2023
GeoAreaName
Bulgaria     100.0    NaN
Croatia      100.0    NaN
Denmark      100.0    NaN
Estonia      100.0    NaN
France         NaN  100.0
Germany      100.0    NaN
Greece       100.0    NaN
Ireland      100.0    NaN
Latvia         NaN  100.0
Lithuania    100.0    NaN
Portugal     100.0  100.0
Romania      100.0    NaN

Missing countries:
 Belgium
Cyprus
Italy
Spain
Finland
Malta
Netherlands
Poland
Sweden
United Kingdom

### 14.1

#### (a) Index of coastal eutrophication

We use Gross Nitrogen Balance: Max-Min transformation where the max-value is the maximum value in the period 2012-2021 and the min-value is zero.

##### Gross nutrient balance (Nitrogen kg/ha), Eurostat
[Source](https://ec.europa.eu/eurostat/databrowser/view/AEI_PR_GNB__custom_153613/)

In [550]:
# Gross nutrient balance (Nitrogen kg/ha), Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/AEI_PR_GNB__custom_153613/

nitro = pd.read_csv('../data/aei_pr_gnb.csv')
nitro['geo'] = nitro['geo'].map(abbrev_to_country).fillna(nitro['geo'])
nitro = nitro[nitro['geo'].isin(countries)]
nitro = nitro.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')
mr = nitro.columns[-1] # most recent year

#maxMin transformation as (max-x)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
nitro = ((nitro.loc[:,'2012':mr].max().max()  - nitro.loc[:,'2012':mr])/(nitro.loc[:,'2012':mr].max().max()
                                                                   - nitro.loc[:,'2012':mr].min().min())*100).round(2)
nitro[[2012, 2018, mr]]

for i in countries:
    if i not in nitro.index:
        print(i, 'is not in the dataset')

TIME_PERIOD      2012    2018    2018
geo
Belgium         23.68     NaN     NaN
Bulgaria        76.90   60.07   60.07
Croatia         49.10   61.95   61.95
Cyprus           5.19     NaN     NaN
Denmark         50.40     NaN     NaN
Estonia         75.20     NaN     NaN
Finland         66.47   61.77   61.77
France          77.22   69.47   69.47
Germany         54.12   52.86   52.86
Greece          65.26     NaN     NaN
Ireland         72.02     NaN     NaN
Italy           52.10     NaN     NaN
Latvia          76.99   75.92   75.92
Lithuania       74.66   68.26   68.26
Malta           24.84     NaN     NaN
Netherlands     11.64    0.00    0.00
Poland          66.20   60.07   60.07
Portugal        68.08   67.37   67.37
Romania         80.44  100.00  100.00
Spain           72.69     NaN     NaN
Sweden          73.77   60.61   60.61
United Kingdom  48.57     NaN     NaN

#### (b) Floating Plastic Debris Density

We use two indicators: 

1. Plastic Waste kg/ha: Max-Min Transformation where the max-value and min-values are the maximum and minimum in the period 2012-2021.

2. Recovery Rate of Plastic Packaging: Without further transformation as score is provided dimensionless.

##### 1. Plastic Waste kg/ha, Eurostat
[Source](https://ec.europa.eu/eurostat/databrowser/view/ENV_WASGEN/)

In [579]:
# Plastic Waste kg/ha, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_WASGEN/

wasteG = pd.read_csv('../data/env_wasgen.csv')
wasteG['geo'] = wasteG['geo'].map(abbrev_to_country).fillna(wasteG['geo']) #change abb to name
wasteG = wasteG[wasteG['geo'].isin(countries)] 
wasteG  = wasteG[wasteG['unit']=='KG_HAB'].pivot_table(columns='TIME_PERIOD',
                                 index='geo', values='OBS_VALUE', aggfunc='mean') #pivot table 
mr = wasteG.columns[-1] # most recent year
#maxMin transformation as (max-x)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
wasteG = ((wasteG.loc[:,'2012':mr].max().max() - wasteG.loc[:,'2012':mr])/(wasteG.loc[:,'2012':mr].max().max()
                                                                   - wasteG.loc[:,'2012':mr].min().min())*100).round(2)
wasteG = wasteG.ffill(axis=1) #fill empty values with last available year
wasteG[[2012, 2018, mr]]

for i in countries:
    if i not in wasteG.index:
        print(i, 'is not in the dataset')

TIME_PERIOD       2012   2018   2020
geo
Belgium          54.62  49.58  31.93
Bulgaria         92.44  73.11  59.66
Croatia          96.64  89.08  78.15
Cyprus          100.00  95.80  88.24
Denmark          88.24  89.08  84.03
Estonia          89.92  70.59  77.31
Finland          89.92  85.71  84.03
France           83.19  78.15  73.95
Germany          78.15  74.79  73.11
Greece           94.12  89.08  90.76
Ireland          82.35  76.47  70.59
Italy            64.71  42.86  35.29
Latvia           94.96  65.55  54.62
Lithuania        89.92  73.11  70.59
Malta            95.80  91.60  89.92
Netherlands      75.63  76.47  73.11
Poland           83.19  57.98  54.62
Portugal         89.92  73.95  68.07
Romania          84.03  91.60  90.76
Spain            84.03  89.92  88.24
Sweden           89.08  71.43  76.47
United Kingdom   73.11  67.23  67.23

TIME_PERIOD       2012   2014   2016   2018   2020
geo
Belgium          54.62   0.00  51.26  49.58  31.93
Bulgaria         92.44  81.51  78.99  73.11  59.66
Croatia          96.64  94.12  90.76  89.08  78.15
Cyprus          100.00  99.16  98.32  95.80  88.24
Denmark          88.24  89.08  87.39  89.08  84.03
Estonia          89.92  83.19  76.47  70.59  77.31
Finland          89.92  86.55  90.76  85.71  84.03
France           83.19  82.35  79.83  78.15  73.95
Germany          78.15  76.47  76.47  74.79  73.11
Greece           94.12  89.08  84.03  89.08  90.76
Ireland          82.35  71.43  78.15  76.47  70.59
Italy            64.71  59.66  49.58  42.86  35.29
Latvia           94.96  94.12  77.31  65.55  54.62
Lithuania        89.92  83.19  78.15  73.11  70.59
Malta            95.80  93.28  88.24  91.60  89.92
Netherlands      75.63  75.63  78.15  76.47  73.11
Poland           83.19  78.15  75.63  57.98  54.62
Portugal         89.92  85.71  78.99  73.95  68.07
Romania          84.03  89.92  92.44  91.60  90.76
Spain            84.03  84.03  90.76  89.92  88.24
Sweden           89.08  78.15  77.31  71.43  76.47
United Kingdom   73.11  69.75  66.39  67.23  67.23

##### 2. Recovery rates for packaging waste, Plastic Packaging
[Source](https://ec.europa.eu/eurostat/databrowser/view/ten00062/)

In [552]:
# Recovery rates for packaging waste, Plastic Packaging, Percentage, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ten00062/

wasteR = pd.read_csv('../data/ten00062.csv')
wasteR['geo'] = wasteR['geo'].map(abbrev_to_country).fillna(wasteR['geo'])
wasteR = wasteR[wasteR['geo'].isin(countries)]
wasteR = wasteR.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')
mr = wasteR.columns[-1] # most recent year
wasteR = wasteR.ffill(axis = 1) #fill empty values with last available year
wasteR[[2012, 2018, mr]]
for i in countries:
    if i not in wasteR.index:
        print(i, 'is not in the dataset')

TIME_PERIOD     2012  2018   2020
geo
Belgium         92.7  98.7   99.4
Bulgaria        44.1  59.3   50.6
Croatia         45.4  37.3   34.1
Cyprus          44.8  54.3   51.9
Denmark         99.4  97.9   73.1
Estonia         44.0  81.8   87.4
Finland         51.0  98.1   99.4
France          64.0  69.9   71.8
Germany         99.7  99.9   99.9
Greece          32.2  39.8   37.6
Ireland         74.3  95.7  100.0
Italy           71.8  86.9   88.4
Latvia          38.7  50.8   47.9
Lithuania       38.9  72.1   63.4
Malta           33.3  11.1   10.2
Netherlands     98.1  94.3   94.9
Poland          26.2  52.0   45.0
Portugal        39.4  56.6   56.9
Romania         51.9  45.6   37.0
Spain           53.2  66.1   55.5
Sweden          58.1  51.2   50.7
United Kingdom  38.1  56.2   56.2

### 14.2

#### Proportion of national exclusive economic zones managed using ecosystem-based approaches

As of now, it is a binary variable: Number of countries using ecosystem-based approaches to manage marine areas 

Data is scarce and the next round of data collection is in 2025. More information [here](https://unstats.un.org/sdgs/metadata/files/Metadata-14-02-01.pdf)

Spatial comparison within the EU is not expected to yield great differences and we neglect target 14.2.

### 14.3

Average marine acidity (pH) measured at agreed suite of representative sampling stations

We use two indicators:

1. Greenhouse gas emissions under the Effort Sharing Decision (ESD): Max-Min transformation where the max- and min-values are the maximum and 
minimum in the assessment period (2012-2021)

2. Carbon Emissions per capita: Max-Min Transformation where the max-value and min-values are the maximum and minimum in the period 2012-2021.

#### 1. Greenhouse gas emissions under the Effort Sharing Decision (ESD)
Several sources (see code)

In [553]:
# Greenhouse gas emissions under the Effort Sharing Decision (ESD), Million tonnes CO2 equivalent (Mt CO2 eq), European Environment Agency
# https://www.eea.europa.eu/data-and-maps/data/esd-4

ghgESD = pd.read_excel('../data/EEA_ESD-GHG_2022.xlsx', sheet_name=1, skiprows=11)
ghgESD = ghgESD[ghgESD['Geographic entity'].isin(countries)]
ghgESD = ghgESD.set_index('Geographic entity')
ghgESD = ghgESD.dropna(axis=1, how='all') 

mr = ghgESD.columns[-1] # most recent year
ghgESD = (ghgESD * 1_000_000)
for i in countries:
    if i not in ghgESD.index:
        print(i, 'is not in the dataset')

In [554]:
# Build ESD allocation with two sources and interpolation for years previous to 2013

# Allocation for 2020 target
# https://ec.europa.eu/clima/ets/esdAllocations.do?languageCode=en&esdRegistry=-1&esdYear=&search=Search&currentSortSettings=
allocation2020 = pd.read_xml('../data/esdAllocations2020.xml', xpath=".//ESDAllocations/ESDAllocationInfo")
allocation2020['Country'] = allocation2020['ESDMemberState'].map(abbrev_to_country).fillna(allocation2020['ESDMemberState'])
allocation2020 = allocation2020[allocation2020['Country'].isin(countries)]
allocation2020 = allocation2020.pivot_table(columns='ESDYear', index='Country', values='Allocation', aggfunc='mean')

# Allocation for 2030 target
# https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32020D2126
allocation2030 = pd.read_html('../data/esdAllocations2030.html')[13][1:]
allocation2030.columns = allocation2030.iloc[0]
allocation2030 = allocation2030[1:]
allocation2030.loc[allocation2030['Member State'].str.contains('Netherlands'), 'Member State'] = 'Netherlands'
allocation2030 = allocation2030[allocation2030['Member State'].isin(countries)]
allocation2030.set_index('Member State', inplace=True)
for col in allocation2030.columns:
    allocation2030[col] = allocation2030[col].apply(lambda x: str(x).replace(u'\xa0', u''))
allocation2030 = allocation2030.astype(int)

# Merge 2005 values with 2020 and 2030 allocations. Interpolate for years 2006-2012
allocationESD = ghgESD[[2005]].merge(allocation2020.merge(allocation2030, left_index=True, \
                right_index=True, how='outer')\
                ,left_index=True, right_index=True, how='outer') 
allocationESD.columns = allocationESD.columns.astype(int)
allocationESD[list(range(2006,2013))] = np.nan #create empty columns for 2006-2012
allocationESD= allocationESD[list(range(2005, 2031))]
allocationESD.interpolate(axis=1, inplace=True)

# Calculate score for ESD
scoreESD = 100-(100*(ghgESD-allocationESD)/allocationESD)
scoreESD[scoreESD>100] = 100
scoreESD = scoreESD.ffill(axis = 1) #fill empty values with last available year
scoreESD[[ 2012, 2018, 2021]]

                         2012        2018        2021
Geographic entity
Belgium            100.000000   95.526138  100.000000
Bulgaria           100.000000   99.086140  100.000000
Croatia            100.000000  100.000000  100.000000
Cyprus             100.000000   99.031662   86.945820
Denmark            100.000000  100.000000  100.000000
Estonia             97.135446   97.309091  100.000000
Finland            100.000000   98.990754  100.000000
France             100.000000  100.000000  100.000000
Germany            100.000000   97.919668  100.000000
Greece             100.000000  100.000000  100.000000
Ireland            100.000000   86.003988   96.146602
Italy              100.000000  100.000000  100.000000
Latvia             100.000000  100.000000  100.000000
Lithuania          100.000000  100.000000  100.000000
Malta              100.000000   82.132225  100.000000
Netherlands        100.000000  100.000000  100.000000
Poland              96.729877   94.386335  100.000000
Portugal           100.000000  100.000000  100.000000
Romania            100.000000  100.000000  100.000000
Spain              100.000000  100.000000  100.000000
Sweden             100.000000  100.000000  100.000000
United Kingdom     100.000000  100.000000  100.000000

Alternative (dif-ref) score for ESD (measuring this way does not make a lot of sense to me)

In [555]:
# Alternative (dif-ref) score for ESD (measuring this way does not make a lot of sense to me)

scoreESD2020 = 100-100*(ghgESD.loc[:,:2020].subtract(allocationESD[2020], axis=0)).divide(allocationESD[2020],axis=0)
scoreESD2030 = 100-100*(ghgESD.loc[:,2021:].subtract(allocationESD[2030], axis=0)).divide(allocationESD[2030],axis=0)
scoreESD1 = scoreESD2020.merge(scoreESD2030, left_index=True, right_index=True)
scoreESD1[scoreESD1>100] = 100
scoreESD1[[ 2012, 2018, 2021]]

                         2012        2018        2021
Geographic entity
Belgium             91.656932   91.199322   68.926378
Bulgaria           100.000000  100.000000   85.870684
Croatia            100.000000  100.000000  100.000000
Cyprus              93.063293   95.282985   58.003181
Denmark             88.726856   96.633523   80.718421
Estonia             92.497465   98.385997   86.192175
Finland             87.856553   95.061850   70.558746
France              93.315120  100.000000   70.431556
Germany             93.219499   94.368820   65.038617
Greece             100.000000  100.000000  100.000000
Ireland             89.746323   79.476854   64.730193
Italy               97.895965  100.000000   82.319661
Latvia             100.000000  100.000000   93.071966
Lithuania          100.000000  100.000000   76.951109
Malta              100.000000   81.959640   41.708830
Netherlands         92.446999  100.000000   86.997350
Poland             100.000000   96.173054   82.836723
Portugal           100.000000  100.000000   99.847374
Romania            100.000000  100.000000   92.692054
Spain              100.000000  100.000000   91.809604
Sweden              96.646863  100.000000   86.895445
United Kingdom     100.000000  100.000000         NaN

#### 2. Carbon emissions per capita
Several sources (see code)

In [556]:
# Population on 1 January, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/tps00001/

pop = pd.read_csv('../data/tps00001.csv')
pop['geo'] = pop['geo'].map(abbrev_to_country).fillna(pop['geo'])
pop = pop[pop['geo'].isin(countries)]
pop = pop.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

In [557]:
# CO2, TOTX4_MEMONIA, THS_T thousand tonnes, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_AIR_GGE/

co2 = pd.read_csv('../data/env_air_gge.csv')
co2['geo'] = co2['geo'].map(abbrev_to_country).fillna(co2['geo'])
co2 = co2[co2['geo'].isin(countries)]
co2 = co2.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

mr = co2.columns[-1] # most recent year
co2pc = co2/pop*1000  ## tonnes co2 per capita 
# maxMin transformation as (max-x)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
co2pc = ((co2pc.loc[:,2012:mr].max().max() - co2pc.loc[:,2012:mr])/(co2pc.loc[:,2012:mr].max().max()
                                                                   - co2pc.loc[:,2012:mr].min().min())*100).round(2)

# co2pc[[2012, 2016, mr]]

for i in countries:
    if i not in co2pc.index:
        print(i, 'is not in the dataset')

In [558]:
# Data to corrobarate the ENV_AIR_GGE data. Very close numbers and we have for 2021
# Fossil CO2 emissions by country (territorial), million tonnes of carbon per year (1MtC = 1 million tonne of carbon = 3.664 million tonnes of CO2)
# https://globalcarbonbudget.org/carbonbudget/

co2T = pd.read_excel('../data/National_Fossil_Carbon_Emissions_2022v1.0.xlsx', sheet_name=1, skiprows=11) 
co2T = co2T.T
co2T.columns = co2T.iloc[0,:]
co2T.columns = co2T.columns.astype(int)
co2T = co2T.rename_axis(index='geo', columns=None)
co2T = co2T[co2T.index.isin(countries)]

mr = co2T.columns[-1] # most recent year
co2T = co2T * 3.664 # convert from carbon to co2 
co2pc = co2T/pop*1000_000  ## tonnes co2 per capita 

# maxMin transformation as (max-x)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
co2pc = ((co2pc.loc[:,2012:mr].max().max() - co2pc.loc[:,2012:mr])/(co2pc.loc[:,2012:mr].max().max()
                                                                   - co2pc.loc[:,2012:mr].min().min())*100).round(2)
co2pc = co2pc.ffill(axis = 1) #fill empty values with last available year
co2pc[[2012, 2018, mr]]

for i in countries:
    if i not in co2pc.index:
        print(i, 'is not in the dataset')

                 2012   2018   2021
geo
Belgium         47.69  51.71  55.72
Bulgaria        69.89  73.34  73.62
Croatia         87.80  89.04  88.46
Cyprus          54.53  53.95  54.06
Denmark         65.29  74.85  82.76
Estonia         12.53  11.12  59.32
Finland         45.77  55.54  68.23
France          79.37  84.88  87.31
Germany         40.23  48.77  57.15
Greece          56.07  69.17  81.01
Ireland         55.34  57.47  62.32
Italy           68.21  76.83  78.69
Latvia          94.41  91.17  93.06
Lithuania       85.17  84.36  83.59
Malta           70.46  97.98  97.23
Netherlands     42.63  47.76  57.51
Poland          53.21  50.76  52.37
Portugal        85.49  83.30  92.02
Romania         87.58  90.67  90.60
Spain           75.18  76.69  83.89
Sweden          83.74  90.36  96.28
United Kingdom  60.82  77.17  84.41

### 14.4

Proportion of fish stocks within biologically sustainable levels

We use two indicators:

1. FMSY/F: catch-weighted average

2. B/BMSY: catch-weighted average

#### 1. FMSY/F

#### 2. B/BMSY

### 14.5

Coverage of protected areas in relation to marine area

We consider two indicators:

1. Coverage of protected areas in relation to marine areas: Distance to Reference transformation where the max-value is set to 30% and the min-value is 0%
2. OHI 'Biodiversity' Index : No further transformation

#### 1. Marine protected areas (% of territorial waters)
[Source](https://data.worldbank.org/indicator/ER.MRN.PTMR.ZS)

In [559]:
# Marine protected areas (% of territorial waters), World Bank aggregation of https://www.protectedplanet.net/en/thematic-areas/marine-protected-areas
# https://data.worldbank.org/indicator/ER.MRN.PTMR.ZS

mpa = pd.read_csv('../data/API_ER.MRN.PTMR.ZS_DS2.csv', skiprows=4)
mpa = mpa[mpa['Country Name'].isin(countries)].set_index('Country Name')
mpa = mpa.dropna(axis=1, how='all')
mpa = mpa.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
mpa = (mpa/0.3).round(2)  # dis-ref with target 30%
mpa[mpa>100] = 100
mpa.sort_index(inplace=True)
mpa[['2018','2021']]
for i in countries:
    if i not in mpa.index:
        print(i, 'is not in the dataset')

                  2018    2021
Country Name
Belgium         100.00  100.00
Bulgaria         27.01   27.03
Croatia          28.47   29.96
Cyprus            0.41   28.74
Denmark          59.50   61.07
Estonia          62.07   62.60
Finland          35.03   39.96
France          100.00  100.00
Germany         100.00  100.00
Greece           15.06   15.06
Ireland           7.77    7.77
Italy            29.32   32.45
Latvia           53.45   53.46
Lithuania        85.30   85.31
Malta            20.90   24.82
Netherlands      88.92   89.53
Poland           75.24   75.24
Portugal         55.21   56.06
Romania          76.99   77.00
Spain            27.91   42.52
Sweden           50.71   52.54
United Kingdom   96.24  100.00

#### 2. OHI 'Biodiversity' Index 
[Source](https://oceanhealthindex.org/global-scores/data-download/)

In [560]:
# OHI 'Biodiversity' Index 
# https://oceanhealthindex.org/global-scores/data-download/

ohiBio = pd.read_csv('../data/scoresOHI.csv')
ohiBio = ohiBio[ohiBio['region_name'].isin(countries)]
ohiBio = ohiBio[(ohiBio.long_goal == 'Biodiversity')  & (ohiBio.dimension == 'score') ]
ohiBio = ohiBio.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

ohiBio[[2012, 2018, 2022]]
for i in countries:
    if i not in ohiBio.index:
        print(i, 'is not in the dataset')

scenario         2012   2018   2022
region_name
Belgium         74.65  71.16  71.53
Bulgaria        76.12  69.96  66.19
Croatia         60.77  55.80  55.65
Cyprus          68.48  65.77  64.07
Denmark         72.56  69.75  71.17
Estonia         80.68  73.42  74.96
Finland         79.25  71.68  73.02
France          72.20  74.81  75.08
Germany         73.45  69.04  72.25
Greece          66.28  60.73  59.42
Ireland         67.64  67.55  66.89
Italy           68.72  65.31  64.08
Latvia          77.70  70.57  72.39
Lithuania       76.04  69.22  71.82
Malta           72.23  64.57  64.19
Netherlands     67.14  65.53  68.68
Poland          67.41  64.34  66.45
Portugal        75.73  72.12  72.07
Romania         82.49  72.39  70.55
Spain           72.29  69.36  68.31
Sweden          75.00  71.16  70.96
United Kingdom  68.30  72.90  71.45

### 14.6 

Degree of implementation of international instruments aiming to combat illegal, unreported and unregulated fishing

We use two indicators:

1. Fishing Subsidies relative to Landings: Max-Min Transformation where the max-value and min-value are the maximum and minimum in the assessment period (2012-2021) 
2. TAC/Catch:

In [561]:
oecdAbb = {
'AUS':'Australia',
'AUT':'Austria',
'BEL':'Belgium',
'CAN':'Canada',
'CHL':'Chile',
'COL':'Colombia',
'CRI':'Costa Rica',
'CZE':'Czech Republic',
'DNK':'Denmark',
'EST':'Estonia',
'FIN':'Finland',
'FRA':'France',
'DEU':'Germany',
'GRC':'Greece',
'HUN':'Hungary',
'ISL':'Iceland',
'IRL':'Ireland',
'ISR':'Israel',
'ITA':'Italy',
'JPN':'Japan',
'KOR':'Korea',
'LVA':'Latvia',
'LTU':'Lithuania',
'LUX':'Luxembourg',
'MEX':'Mexico',
'NLD':'Netherlands',
'NZL':'New Zealand',
'NOR':'Norway',
'POL':'Poland',
'PRT':'Portugal',
'SVK':'Slovak Republic',
'SVN':'Slovenia',
'ESP':'Spain',
'SWE':'Sweden',
'CHE':'Switzerland',
'TUR':'Turkey',
'GBR':'United Kingdom',
'USA':'United States',}

#### 1. Fishing Subsidies relative to Landings
Several sources

In [562]:
# Fisheries Support Estimate
# https://stats.oecd.org/Index.aspx?DataSetCode=FISH_FSE

fse = pd.read_csv('../data/FISH_FSE.csv')
fse = fse[fse['Country'].isin(countries)]

# strip variable codes and delete parent variables to avoid double counting
# solution from https://stackoverflow.com/q/76183612/14534411

separator = '.'
fse['vCode'] = fse.Variable.str.rsplit('.', n=1).str.get(0) 

variableAll = fse.vCode.unique().tolist()

def is_parent(p, target):
    return p.startswith(target) and len(p)>len(target) and p[len(target)] == '.'

vSupport = []
prev = ''
for s in sorted(variableAll)+['']:
    if prev and not is_parent(s, prev):
        vSupport.append(prev)
    prev = s

fse = fse[(fse.vCode.isin(vSupport)) | (fse.vCode.isna())]

# we use US dollars because some countries use their own currency ('Danish Krone', 'Zloty', 'Swedish Krona')
fse= fse[fse.Measure == 'US dollar'][['Country','Variable', 'Value','Year', 'Unit']]

# we include  I.B, I.C, I.D, I.E  II. SUPPORT FOR SERVICES TO THE SECTOR (except the ones specified below)
fse = fse[fse.Variable.str.startswith(('I.E.1','II.')) &\
      ~fse.Variable.str.startswith(('II.E', 'II.F','II.G'))]

fse = fse.groupby(['Country', 'Year']).sum(numeric_only=True).reset_index()

# fse = fse.pivot_table(columns='Year', index='Country', values='Value', aggfunc='mean')
# fse[[2012, 2016, 2020]]

In [563]:
# Landings in USD
# https://data.oecd.org/fish/fish-landings.htm

landing = pd.read_csv('../data/fishLandingsOECD.csv')
landing['LOCATION'] = landing['LOCATION'].map(oecdAbb).fillna(landing['LOCATION'])
landing = landing[landing['LOCATION'].isin(countries) & (landing['MEASURE'] == 'USD') & (landing['SUBJECT'] == 'TOT')]
# landing = landing.pivot_table(columns='TIME', index='LOCATION', values='Value', aggfunc='mean')
# landing = landing[list(range(2010, 2021))]
landing.rename(columns={'LOCATION':'Country', 'TIME':'Year', 'Value':'Landing'}, inplace=True)

In [564]:
# merge subsidies-landings and calculate score
fseLanding = pd.merge(fse, landing, how='left', left_on=['Country', 'Year'], right_on=['Country', 'Year'])
fseLanding['fseLanding'] = fseLanding.Value / fseLanding.Landing 
fseLanding = fseLanding.pivot_table(columns='Year', index='Country', values='fseLanding', aggfunc='mean')
mr = fseLanding.columns[-1] # most recent year

# fseLanding = fseLanding[~fseLanding.index.str.contains("Poland")] Poland is an outlier
#maxMin transformation as (max-x)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
fseScore = ((fseLanding.loc[:,2012:mr].max().max() - fseLanding.loc[:,2012:mr])/(fseLanding.loc[:,2012:mr].max().max()
                                                                   - fseLanding.loc[:,2012:mr].min().min())*100).round(2)
fseScore = fseScore.ffill(axis = 1) #fill empty values with last available year
fseScore[[2012,2018, mr]]


for i in countries:
    if i not in fseScore.index:
        print('Missing country:', i)

Year             2012    2018    2020
Country
Belgium         99.47   99.61   99.61
Denmark         98.66   98.85   98.66
Estonia         97.82   98.79   98.83
France          99.40   99.97   99.97
Germany           NaN   99.78   99.78
Greece          99.72   99.45   99.30
Ireland           NaN   99.21   99.21
Italy           99.54   99.86   99.49
Latvia            NaN   98.04   99.86
Lithuania       99.60   99.70   99.86
Netherlands     99.94  100.00   99.96
Poland          54.66   41.25   26.98
Portugal        99.94  100.00  100.00
Spain           99.79   99.82   99.95
Sweden          96.51   95.70   95.86
United Kingdom  99.80   99.84   99.82

Missing country: Bulgaria
Missing country: Cyprus
Missing country: Croatia
Missing country: Finland
Missing country: Malta
Missing country: Romania

In [565]:
# Alternative dataset. Difference is large
# https://www.sciencedirect.com/science/article/abs/pii/S0308597X16000026#bib4
sumaila2009 = pd.read_excel('../data/subsidies2016Sumaila.xlsx')
sumaila2009['Countries'] = sumaila2009['Countries'].str.strip()
sumaila2009 = sumaila2009[sumaila2009['Countries'].isin(countries) | sumaila2009['Countries'].isin(countryAbb)]
sumaila2009.Countries = sumaila2009.Countries.map(abbrev_to_country).fillna(sumaila2009.Countries)
sumaila2009 = sumaila2009[['Countries','ReEst_Subsidy2009', 'SubType']]
sumaila2009 = sumaila2009.groupby(['Countries']).sum(numeric_only=True)
sumaila2009

for i in countries:
    if i not in sumaila2009.index:
        print('Missing country:', i)

sumaila2018 = pd.read_csv('../data/subsidies2019Sumaila.csv')
sumaila2018 = sumaila2018[['Country','Constant 2018 USD','Type']]
sumaila2018 = sumaila2018[sumaila2018.Country.isin(countries)]
sumaila2018 = sumaila2018.groupby(['Country']).sum(numeric_only=True)
sumaila2018

for i in countries:
    if i not in sumaila2018.index:
        print('Missing country:', i)

                ReEst_Subsidy2009
Countries
Belgium              3.000196e+04
Bulgaria             2.633312e+04
Croatia              9.133978e+02
Cyprus               1.111352e+04
Estonia              6.581073e+04
Finland              9.037797e+04
France               5.693041e+05
Germany              1.950170e+05
Greece               2.258344e+05
Ireland              1.594584e+05
Italy                3.686579e+05
Latvia               1.236160e+05
Lithuania            1.051834e+05
Malta                8.467710e+03
Poland               4.762180e+05
Portugal             1.933229e+05
Romania              5.901909e+04
Spain                1.387905e+06
Sweden               2.352742e+05
United Kingdom       5.440888e+05

Missing country: Denmark
Missing country: Netherlands

                Constant 2018 USD
Country
Belgium              3.499169e+07
Bulgaria             1.570597e+07
Croatia              4.364076e+07
Cyprus               2.950699e+07
Denmark              2.664440e+08
Estonia              8.575283e+07
Finland              8.503777e+07
France               3.328355e+08
Germany              1.949695e+08
Greece               2.193778e+08
Ireland              1.724855e+08
Italy                3.550369e+08
Latvia               4.112008e+07
Lithuania            2.689930e+07
Malta                2.739874e+07
Netherlands          1.982761e+08
Poland               7.613524e+07
Portugal             1.407283e+08
Romania              1.063918e+07
Spain                8.436523e+08
Sweden               2.267631e+08
United Kingdom       3.701858e+08

#### 2. TAC/Catch

### 14.7

Sustainable fisheries as a proportion of GDP in small island developing States, least developed countries and all countries

We use two indicators:

1. OHI Coastal 'Livelihoods & economies' Index: No further transformation
2. OHI 'Tourism & recreation' Index: No further transformation

#### 1. OHI 'Livelihoods & economies' Index 
[Source](https://oceanhealthindex.org/global-scores/data-download/)

In [566]:
# OHI 'Livelihoods & economies' Index 
# https://oceanhealthindex.org/global-scores/data-download/

ohiLive = pd.read_csv('../data/scoresOHI.csv')
ohiLive = ohiLive[ohiLive['region_name'].isin(countries)]
ohiLive = ohiLive[(ohiLive.long_goal == 'Livelihoods & economies')  & (ohiLive.dimension == 'score')]
ohiLive = ohiLive.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

ohiLive[[2012, 2018, 2022]]

for i in countries:
    if i not in ohiLive.index:
        print('Missing country:', i)

scenario          2012    2018    2022
region_name
Belgium          67.75   80.50   80.50
Bulgaria         71.31   71.31   71.31
Croatia          78.76   78.56   78.56
Cyprus           65.03   63.18   63.18
Denmark          61.44   66.22   66.22
Estonia          59.66   73.81   73.81
Finland          75.44   82.24   82.24
France           79.40   79.41   79.41
Germany          86.50   89.31   89.31
Greece           64.92   61.38   61.38
Ireland          73.29   77.30   77.30
Italy            83.58   85.62   85.62
Latvia           77.74   89.50   89.50
Lithuania        70.18   76.21   76.21
Malta            84.24   86.67   86.67
Netherlands      60.89   62.19   62.19
Poland           80.23   81.50   81.50
Portugal         92.97   93.38   93.38
Romania          90.29   88.77   88.77
Spain            77.74   77.21   77.21
Sweden          100.00  100.00  100.00
United Kingdom   87.45   88.59   88.59

#### 2. OHI 'Tourism & recreation' Index 
[Source](https://oceanhealthindex.org/global-scores/data-download/)

In [567]:
# OHI 'Tourism & recreation' Index 
# https://oceanhealthindex.org/global-scores/data-download/

ohiTour = pd.read_csv('../data/scoresOHI.csv')
ohiTour = ohiTour[ohiTour['region_name'].isin(countries)]
ohiTour = ohiTour[(ohiTour.long_goal == 'Tourism & recreation')  & (ohiTour.dimension == 'score')]
ohiTour = ohiTour.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

ohiTour[[2012, 2018, 2022]]

for i in countries:
    if i not in ohiTour.index:
        print('Missing country:', i)

scenario          2012    2018    2022
region_name
Belgium          25.64   23.87   22.89
Bulgaria         23.30   27.91   19.88
Croatia          69.36   88.66   70.06
Cyprus           60.50   58.80   59.75
Denmark          23.47   27.84   22.73
Estonia          38.02   41.89   36.82
Finland          24.10   26.95   19.94
France           44.27   47.72   45.29
Germany          71.18   72.50   61.55
Greece           85.06  100.00  100.00
Ireland          23.52   22.06   21.68
Italy            54.93   65.70   57.67
Latvia           36.83   33.42   30.08
Lithuania        14.03   19.44   14.89
Malta           100.00  100.00  100.00
Netherlands      61.06   61.17   62.31
Poland           16.68   19.69   17.89
Portugal         61.92   89.12   72.35
Romania          20.15   24.25   22.50
Spain            40.22   48.27   41.12
Sweden           37.09   42.52   31.40
United Kingdom   50.05   53.90   50.69

### 14.a

Proportion of total research budget allocated to research in the field of marine technology

We use two indicators:

1. Official UNSD indicator ER_RDE_OSEX: Max-Min transformation where the max-value and min-value are the maximum and minimum in the assessment period (2009-2017) of all European countries (not restricted to the countries in the analysis).
2. SAD/TAC: Catch-weighted TAC relative to Scientific Advice 

Note: ER_RDE_OSEX data comes from Global Ocean Science Report (GOSR) 2020, and goes from 2013 to 2017. Data for 2009-2012 data is available in the [UNstats archive](https://unstats.un.org/sdgs/indicators/database/archive) (download csv for 29-Mar-19)

#### 1. Ocean science expenditure ER_RDE_OSEX
Several sources

In [568]:
# EEZ area
# https://emodnet.ec.europa.eu/geonetwork/srv/eng/catalog.search#/metadata/d4a3fede-b0aa-485e-b4b2-77e8e3801fd0
eez = pd.read_csv('../data/EMODnet_EEZ_v11_20210506.csv',delimiter=';', encoding='latin-1')
eez = eez[['Territory', 'Area_km2']].groupby(['Territory']).sum(numeric_only=True)
eez = eez[eez.index.isin(allEurope)]

In [569]:
# %%time
# National ocean science expenditure as a share of total research and development funding (%), UNstats archive (years 2009-2012)
# https://unstats.un.org/sdgs/indicators/database/archive

# # read old data by chunks to speed loading and save 14.a.1 to separate file
# iter_csv = pd.read_csv('./data/AllData_Onward_20190329.csv', iterator=True, chunksize=1000, encoding='cp1252')
# oResearchOld = pd.concat([chunk[chunk.Indicator == '14.a.1'] for chunk in iter_csv])
# oResearchOld.to_csv('./data/archive14a1.csv', index=False)

oResearchOld = pd.read_csv('../data/archive14a1.csv')
oResearchOld = oResearchOld.pivot(index='GeoAreaName', columns='TimePeriod', values='Value')

In [570]:
# National ocean science expenditure as a share of total research and development funding (%), UNstats
# https://unstats.un.org/sdgs/dataportal/database

# read official data and merge with archive data 
oResearch = sdg14[sdg14['SeriesCode']=='ER_RDE_OSEX'].pivot_table(columns='TimePeriod', index='GeoAreaName', values='Value', aggfunc='mean')
oResearch = oResearchOld.merge(oResearch, left_index=True, right_index=True, how='outer')
# use all countries in Europe
oResearch = oResearch[oResearch.index.isin(allEurope)].dropna(how = 'all', axis=1)
# fill nan of year 2013 from new report with old report and 2016 with 2017
oResearch[2013] = oResearch['2013_y'].fillna(oResearch['2013_x'])
oResearch[2016] = oResearch[2016].fillna(oResearch[2017])
oResearch = oResearch[list(range(2013, 2018))]
# weighted by EEZ area
oResearch = oResearch.merge(eez, left_index=True, right_index=True, how='outer')
for col in oResearch.drop('Area_km2', axis=1).columns:
    oResearch[col] = oResearch[col]*oResearch['Area_km2']/(oResearch['Area_km2'].sum())

#maxMin transformation as (x - min)/(max-min) * 100 --> converts to 0-100 scale with 0=worst, 100=best
oResearch = (( oResearch.loc[:,2013:2017] - oResearch.loc[:,2013:2017].min().min()) / (oResearch.loc[:,2013:2017].max().max()
                                             - oResearch.loc[:,2013:2017].min().min())*100).round(2)
# fill nan with mean of column
for col in oResearch.columns:
    oResearch[col] = oResearch[col].fillna(oResearch[col].mean())
    
oResearch[[2013, 2017]]

                     2013     2017
Belgium          0.020000    0.000
Bulgaria         0.100000    0.060
Croatia          7.850000   12.894
Cyprus           3.858182   12.894
Denmark          3.858182   12.894
Estonia          3.858182   12.894
Finland          1.210000    1.210
France          13.300000    8.860
Germany          0.840000    0.630
Gibraltar        3.858182   12.894
Greece           3.858182   12.894
Guernsey         3.858182   12.894
Ireland          3.858182  100.000
Italy            9.550000    5.030
Latvia           3.858182   12.894
Lithuania        3.858182   12.894
Malta            3.858182   12.894
Netherlands      0.740000    0.690
Norway           3.858182   12.894
Poland           0.210000    0.120
Portugal         3.858182   12.894
Romania          0.890000   12.894
Slovenia         3.858182   12.894
Spain            7.730000   12.340
Sweden           3.858182   12.894
United Kingdom   3.858182   12.894

#### 2. SAD/TAC

In [571]:
# If a country fishes only on fish stocks where assignment of TAC follows scientific advice, it would score 100

### 14.b

Degree of application of a legal/regulatory/policy/institutional framework which recognizes and protects access rights for small‐scale fisheries

We use two indicators: 

1. OHI Artisanal Fishing Opportunities Index: No further transformation
2. Percentage of Fish Species Threatened: No further transformation

#### 1. OHI 'Artisanal opportunities' Index
[Source](https://oceanhealthindex.org/global-scores/data-download/)

In [572]:
# OHI 'Artisanal opportunities' Index
# https://oceanhealthindex.org/global-scores/data-download/

ohiArt = pd.read_csv('../data/scoresOHI.csv')
ohiArt = ohiArt[ohiArt['region_name'].isin(countries)]
ohiArt = ohiArt[(ohiArt.long_goal == 'Artisanal opportunities')  & (ohiArt.dimension == 'score')]
ohiArt = ohiArt.pivot_table( columns='scenario', index='region_name', values='value', aggfunc='mean')

ohiArt[[2012, 2018, 2022]]

for i in countries:
    if i not in ohiArt.index:
        print('Missing country:', i)

scenario         2012   2018   2022
region_name
Belgium         78.53  77.06  78.78
Bulgaria        55.03  55.53  66.86
Croatia         64.91  61.71  68.79
Cyprus          76.37  71.53  77.83
Denmark         70.31  78.87  73.56
Estonia         89.37  91.68  99.62
Finland         85.84  82.14  74.71
France          76.77  75.51  79.13
Germany         70.41  78.29  71.64
Greece          64.00  60.43  69.62
Ireland         66.92  73.79  73.55
Italy           61.10  63.78  69.66
Latvia          88.51  89.71  99.50
Lithuania       93.90  91.06  98.81
Malta           71.17  77.94  83.15
Netherlands     46.83  58.65  61.19
Poland          91.75  78.69  77.46
Portugal        75.30  64.08  64.94
Romania         67.63  70.33  82.96
Spain           72.27  70.11  73.50
Sweden          96.81  96.23  97.79
United Kingdom  81.84  82.19  78.44

#### 2. Percentage of Fish Species Threatened

Source TBD

In [573]:
# Percentage of Fish Species Threatened

# Waiting to get IUCN API key

# I would not use time series comparison because of this: https://www.iucnredlist.org/assessment/red-list-index

# https://fishbase.mnhn.fr/country/CountryChecklist.php?c_code=056&vhabitat=threatened&csub_code=
# Last updated 2019
# We can extract the data and calculate the percentage
# https://en.wikipedia.org/wiki/ISO_3166-1_numeric 

# https://data.worldbank.org/indicator/EN.FSH.THRD.NO
# Data is only for 2018

#####################

# https://stats.oecd.org/Index.aspx?DataSetCode=WILD_LIFE#
# Here we have by country updated most recent. 
# Missing countries: Bulgaria,Cyprus,Croatia,Ireland,Malta,Romania,United Kingdom

threatened = pd.read_csv('../data/WILD_LIFE_10062023112434707.csv')
threatened = threatened[(threatened.SPEC== 'FISH_TOT') & (threatened.IUCN ==  'THREAT_PERCENT')]
threatened = threatened[['Country', 'Value']].set_index('Country')
threatened = threatened[threatened.index.isin(countries)].rename(columns={'Value':2021})
threatened[2021] = 100 - threatened[2021]
threatened

for i in countries:
    if i not in threatened.index.unique():
        print(i)

               2021
Country
Belgium      79.577
Greece       90.526
Netherlands  76.289
Poland       80.159
Portugal     66.154
Sweden       84.848
Estonia      91.262
Italy        92.668
Finland      86.364
Germany      75.127
Latvia       97.701
Lithuania    95.238
France       84.049
Spain        96.338
Denmark      96.639

Bulgaria
Cyprus
Croatia
Ireland
Malta
Romania
United Kingdom

### 14.c

Number of countries making progress in ratifying, accepting and implementing through legal, policy and institutional frameworks, ocean-related instruments that implement international law, as reflected in the United Nations Convention on the Law of the Sea

We use two indicators:

1. Participation in agreements of the International Marine Organization (IMO Participation Rate): 
2. Measures under the Marine Strategy Framework Directive:

In [574]:
# dictionary for country codes used by the GISIS
gisisDict = {"3":"Afghanistan",
	"6":"Albania",
	"58":"Algeria",
	"1":"Andorra",
	"9":"Angola",
	"4":"Antigua and Barbuda",
	"11":"Argentina",
	"7":"Armenia",
	"14":"Australia",
	"13":"Austria",
	"16":"Azerbaijan",
	"30":"Bahamas",
	"23":"Bahrain",
	"24":"Bangladesh",
	"18":"Barbados",
	"33":"Belarus",
	"20":"Belgium",
	"34":"Belize",
	"25":"Benin",
	"28":"Bolivia (Plurinational State of)",
	"17":"Bosnia and Herzegovina",
	"32":"Botswana",
	"29":"Brazil",
	"27":"Brunei Darussalam",
	"22":"Bulgaria",
	"21":"Burkina Faso",
	"19":"Burundi",
	"49":"Cabo Verde",
	"110":"Cambodia",
	"44":"Cameroon",
	"35":"Canada",
	"43":"Chile",
	"45":"China",
	"46":"Colombia",
	"112":"Comoros",
	"39":"Congo",
	"42":"Cook Islands",
	"47":"Costa Rica",
	"41":"Côte d'Ivoire",
	"93":"Croatia",
	"48":"Cuba",
	"51":"Cyprus",
	"52":"Czechia",
	"114":"Democratic People's Republic of Korea",
	"37":"Democratic Republic of the Congo",
	"55":"Denmark",
	"54":"Djibouti",
	"56":"Dominica",
	"57":"Dominican Republic",
	"59":"Ecuador",
	"61":"Egypt",
	"198":"El Salvador",
	"83":"Equatorial Guinea",
	"63":"Eritrea",
	"60":"Estonia",
	"200":"Eswatini",
	"65":"Ethiopia",
	"67":"Fiji",
	"66":"Finland",
	"71":"France",
	"72":"Gabon",
	"80":"Gambia",
	"75":"Georgia",
	"53":"Germany",
	"77":"Ghana",
	"84":"Greece",
	"74":"Grenada",
	"86":"Guatemala",
	"81":"Guinea",
	"88":"Guinea-Bissau",
	"89":"Guyana",
	"94":"Haiti",
	"92":"Honduras",
	"95":"Hungary",
	"103":"Iceland",
	"99":"India",
	"96":"Indonesia",
	"102":"Iran (Islamic Republic of)",
	"101":"Iraq",
	"97":"Ireland",
	"98":"Israel",
	"104":"Italy",
	"105":"Jamaica",
	"107":"Japan",
	"106":"Jordan",
	"118":"Kazakhstan",
	"108":"Kenya",
	"111":"Kiribati",
	"116":"Kuwait",
	"119":"Lao People's Democratic Republic",
	"128":"Latvia",
	"120":"Lebanon",
	"125":"Lesotho",
	"124":"Liberia",
	"129":"Libya",
	"122":"Liechtenstein",
	"126":"Lithuania",
	"127":"Luxembourg",
	"133":"Madagascar",
	"147":"Malawi",
	"149":"Malaysia",
	"146":"Maldives",
	"136":"Mali",
	"144":"Malta",
	"134":"Marshall Islands",
	"142":"Mauritania",
	"145":"Mauritius",
	"148":"Mexico",
	"69":"Micronesia (Federated States of)",
	"131":"Monaco",
	"138":"Mongolia",
	"273":"Montenegro",
	"130":"Morocco",
	"150":"Mozambique",
	"137":"Myanmar",
	"151":"Namibia",
	"160":"Nauru",
	"159":"Nepal",
	"157":"Netherlands",
	"162":"New Zealand",
	"156":"Nicaragua",
	"153":"Niger",
	"155":"Nigeria",
	"161":"Niue",
	"135":"North Macedonia",
	"158":"Norway",
	"163":"Oman",
	"169":"Pakistan",
	"175":"Palau",
	"164":"Panama",
	"167":"Papua New Guinea",
	"176":"Paraguay",
	"165":"Peru",
	"168":"Philippines",
	"170":"Poland",
	"174":"Portugal",
	"177":"Qatar",
	"115":"Republic of Korea",
	"132":"Republic of Moldova",
	"179":"Romania",
	"180":"Russian Federation",
	"113":"Saint Kitts and Nevis",
	"121":"Saint Lucia",
	"223":"Saint Vincent and the Grenadines",
	"230":"Samoa",
	"193":"San Marino",
	"197":"Sao Tome and Principe",
	"182":"Saudi Arabia",
	"194":"Senegal",
	"272":"Serbia",
	"184":"Seychelles",
	"192":"Sierra Leone",
	"187":"Singapore",
	"191":"Slovakia",
	"189":"Slovenia",
	"183":"Solomon Islands",
	"195":"Somalia",
	"234":"South Africa",
	"64":"Spain",
	"123":"Sri Lanka",
	"185":"Sudan",
	"196":"Suriname",
	"186":"Sweden",
	"40":"Switzerland",
	"199":"Syrian Arab Republic",
	"205":"Tajikistan",
	"204":"Thailand",
	"210":"Timor-Leste",
	"203":"Togo",
	"209":"Tonga",
	"212":"Trinidad and Tobago",
	"208":"Tunisia",
	"211":"Türkiye",
	"207":"Turkmenistan",
	"213":"Tuvalu",
	"217":"Uganda",
	"216":"Ukraine",
	"2":"United Arab Emirates",
	"73":"United Kingdom",
	"215":"United Republic of Tanzania",
	"219":"United States",
	"220":"Uruguay",
	"221":"Uzbekistan",
	"228":"Vanuatu",
	"224":"Venezuela (Bolivarian Republic of)",
	"227":"Viet Nam",
	"231":"Yemen",
	"235":"Zambia",
	"236":"Zimbabwe"
}
gisisDict = {v: k for k, v in gisisDict.items()}

#### 1. Participation in agreements of the International Marine Organization
[Source](https://gisis.imo.org/Public/ST/Ratification.aspx)

In [575]:
# Participation in agreements of the International Marine Organization

# https://www.imo.org/en/About/Conventions/Pages/StatusOfConventions.aspx Excel file with current status of IMO conventions
# We get the historical data from the GISIS database: https://gisis.imo.org/Public/ST/Ratification.aspx
# You need to create account to access data.

# I tried to scrape the data but I am getting errors with Selenium and bs4. 
# I downloaded the html manually

gisisCountries = {k:v for k,v in gisisDict.items() if k in countries}
listIMO = []
for v in gisisCountries.values():
    link = 'https://gisis.imo.org/Public/ST/Ratification.aspx?cid='+ str(v)
    listIMO.append(link)   

# for i in listIMO:
#     webbrowser.open(i)

In [576]:
imoRatedf = pd.DataFrame(columns=['Country', 2012, 2018, 2021])

# loop thru the html files in the folder and extract the data
for i in range(len(os.listdir('../data/treatiesIMO/'))):
        imoRate = pd.read_html( '../data/treatiesIMO/Status of Treaties » Ratification of Treaties{}.html'.format(i))[4]
        for country in countries:
                if country in imoRate['Treaty'][0]:
                        countryIMO = country
        imoRate.columns = imoRate.iloc[1]
        imoRate = imoRate[2:]
        # new column with the year of accession and denounced
        imoRate['accession'] = imoRate['Date of entry into force in country'].str.extract('^([^(]+)').fillna('')
        imoRate['denounced'] = imoRate['Date of entry into force in country'].str.extract('.*\\:(.*)\\).*')
        imoRate[['accession','denounced']] = imoRate[['accession','denounced']].apply(pd.DatetimeIndex).apply(lambda x: x.dt.year)
        # count the number of treaties each country accessioned and not didn't denounced by 2012, 2018 and 2021
        for i in (2012, 2018, 2021):
                imoRate[str(i)] = np.where((imoRate.accession < i) & ((imoRate.denounced > i) | (imoRate.denounced.isna())) , 1, 0)
        imoCount = countryIMO, imoRate['2012'].sum(), imoRate['2018'].sum(), imoRate['2021'].sum()
        imoRatedf.loc[len(imoRatedf), imoRatedf.columns] = imoCount
        
# calculate total possible treaties, apply dif-ref and convert to percentage
totalIMO = len(imoRate.dropna(subset=['Date of entry into force in country']))
imoRatedf = imoRatedf.set_index('Country').sort_index()
imoRatedf = 100-100*(totalIMO - imoRatedf).divide(totalIMO)
imoRatedf

for i in countries:
    if i not in imoRatedf.index.unique():
        print(i)

                     2012       2018       2021
Country
Belgium         78.431373  84.313725  90.196078
Bulgaria        76.470588  80.392157  82.352941
Croatia          72.54902  74.509804  74.509804
Cyprus          68.627451  70.588235   72.54902
Denmark         80.392157  88.235294  92.156863
Estonia         76.470588  78.431373  82.352941
Finland         76.470588   86.27451  90.196078
France          84.313725  90.196078  96.078431
Germany         80.392157  88.235294  88.235294
Greece          80.392157  84.313725  84.313725
Ireland         66.666667  68.627451  68.627451
Italy            72.54902  74.509804  74.509804
Latvia          80.392157  80.392157  82.352941
Lithuania       58.823529  62.745098  64.705882
Malta           60.784314  66.666667  66.666667
Netherlands     84.313725  90.196078  92.156863
Poland          80.392157  84.313725   86.27451
Portugal        68.627451  78.431373   86.27451
Romania         58.823529  62.745098  64.705882
Spain            86.27451  88.235294  88.235294
Sweden          82.352941  92.156863  94.117647
United Kingdom  78.431373  78.431373  78.431373

#### Measures under the Marine Strategy Framework Directive

See code for notes

In [577]:
# The barplot here: https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52018DC0562&from=EN 
# Comes from https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52018SC0393

# The analogous report for 2020 is here https://environment.ec.europa.eu/system/files/2023-04/C_2023_2203_F1_COMMUNICATION_FROM_COMMISSION_EN_V5_P1_2532109.PDF
# But the assessment is much shorter. They refer the reader to a JRC report:
# https://publications.jrc.ec.europa.eu/repository/handle/JRC129363
# That report assesses all the descriptors, but it cannot be compared the the previous assessment.
# Moreover, the source code and data are not available. 

# Overall, it is hard to make an indicator for the measures taken against pressure indicators by the MS.
# Countries report different measures and data is poor.

## Indicators aggregation

Given our ratio-scale full comparable indicators,$I_{it}$, meaningful aggregation of $N$ indicators into a composite indicator $CI_t$ is obtained according to social choice theory by applying a generalized mean:

$$CI_t(\alpha_{it},I_{it},\sigma) = \left(\sum^N_{i=1}\alpha_{it}I^{\frac{\sigma-1}{\sigma}}_{it}\right)^{\frac{\sigma}{\sigma-1}} \quad  \text{for} \quad t = 2012, 2018, 2021 \text{(or most recent)}$$ 

with weights $\alpha_{it} > 0$ and $0 ≤ \sigma ≤ \infty $. The parameter $\sigma$ is used to quantify the elasticity of substitution between the different indicators. High (low) values of $\sigma$ imply good (poor) substitution possibilities which means that a high score in one indicator can (cannot) compensate a low score in another indicator. Consequently, high and low values of $\sigma$ correspond to concepts of weak and strong sustainability, respectively. Depending on $\sigma$, one can obtain a full class of specific function forms for the composite indicator.

We define:

$\sigma_{Target} = 0.5$ and $\sigma_{Target} = 10$

In [583]:
# missing 14.2, mortality, biomass, tacCatc, sadTac, msfd
varDf = [nitro, wasteG, wasteR, scoreESD, co2pc, mpa, ohiBio, fseScore,
          ohiLive, ohiTour, oResearch, ohiArt, threatened, imoRatedf]
varNames = ['nitro', 'wasteG', 'wasteR', 'scoreESD', 'co2pc', 'mpa', 'ohiBio', 'fseScore',
            'ohiLive', 'ohiTour', 'oResearch', 'ohiArt', 'threatened', 'imoRatedf']
dictIndicators = dict(zip(varNames, varDf))

# stack and merge all variables into one dataframe 
for name, df in dictIndicators.items():
    df = df.stack().to_frame().rename(columns={0:str(name)})
    df.index.names = ['Country', 'Year']
    df.reset_index(inplace=True)
    df.Year = df.Year.astype(int)
    df.set_index(['Country', 'Year'], inplace=True)
    dictIndicators[name] = df

# merge all variables into one dataframe, forward and back fill. 
df = pd.concat(dictIndicators.values(), axis=1, join='outer')
df = df.reset_index().sort_values(['Country', 'Year'])
df = df[df.Year.isin(list(range(2012, 2022)))]
df = df.ffill().bfill()
df[df.Country == 'Spain']

# df[(df.index.get_level_values(1) == 2012)]

,Country,Year,nitro,wasteG,wasteR,scoreESD,co2pc,mpa,ohiBio,fseScore,ohiLive,ohiTour,oResearch,ohiArt,threatened,imoRatedf
108,Spain,2012,72.69,84.03,53.2,100.0,75.18,77.00,72.29,99.79,77.74,40.22,12.89400,72.27,66.154,86.274510
109,Spain,2013,74.89,84.03,58.5,100.0,79.80,77.00,70.67,99.84,77.21,42.77,7.73000,71.45,66.154,86.274510
110,Spain,2014,70.10,84.03,59.0,100.0,79.17,77.00,70.40,99.86,77.21,45.53,5.77375,71.00,66.154,86.274510
111,Spain,2015,70.50,84.03,61.1,100.0,76.09,77.00,70.14,99.65,77.21,46.16,6.13375,70.82,66.154,86.274510
112,Spain,2016,70.28,90.76,61.8,100.0,78.05,29.10,67.51,99.96,77.21,47.19,13.50000,70.56,66.154,86.274510
113,Spain,2017,65.67,90.76,64.0,100.0,75.65,27.91,69.62,99.91,77.21,49.30,12.34000,70.63,66.154,86.274510
162,Spain,2018,65.67,89.92,66.1,100.0,76.69,27.91,69.36,99.82,77.21,48.27,12.34000,70.11,66.154,88.235294
252,Spain,2019,65.67,89.92,66.8,100.0,80.24,42.29,69.10,99.82,77.21,48.03,12.34000,69.67,66.154,88.235294
163,Spain,2020,65.67,88.24,55.5,100.0,87.44,42.53,68.83,99.95,77.21,35.61,12.34000,69.39,66.154,88.235294
534,Spain,2021,65.67,88.24,55.5,100.0,83.89,42.52,68.57,99.95,77.21,40.28,12.34000,66.74,96.338,88.235294

Empty DataFrame
Columns: [Country, Year, nitro, wasteG, wasteR, scoreESD, co2pc, mpa, ohiBio, fseScore, ohiLive, ohiTour, oResearch, ohiArt, threatened, imoRatedf]
Index: []

In [ ]:
#create dictionary with variables in global

indicatorsL = ['plastic','14.1', '14.2', '14.3', '14.4', '14.5', '14.6', '14.7', '14.a', '14.b', '14.c']
               
def compositeInd(ind1,ind2,alpha=0.5,sigma=10):
        for i in range(0,2):
                composite = ((alpha*ind1**((sigma-1)/sigma)) + \
                     ((1-alpha)*ind2**((sigma-1)/sigma)))**\
                        (sigma/(sigma-1))
                return composite

indDf.iloc[:,0]
indDf.iloc[:,1]
indDf.iloc[:,2]

indicatorsL['plastic'] = compositeInd(wasteG, wasteR)
indicatorsL['14.1'] = compositeInd(indicatorsL['plastic'], nitroPivot)

## Trash bin

In [39]:
# Get the targets for 2020 and 2030 in percentage
# Member State greenhouse gas emission limits in 2020 and 2030 compared to 2005 greenhouse gas emissions levels
# There targets for 2020 and for 2030
# https://www.eea.europa.eu/data-and-maps/figures/national-progress-towards-greenhouse-gas
# Official journals with the data can be found at (https://climate.ec.europa.eu/eu-action/effort-sharing-member-states-emission-targets_en)

# limitESR = pd.read_excel('../data/targetsESR/FIG2-154307-CLIM058-v2-Data.xlsx', sheet_name=1, skiprows=19, header=1, skipfooter=32)
# limitESR = limitESR.rename(columns={'Unnamed: 0':'Country', '(Resulting) ESR target 2030 (AR4)':'2030ESRtarget','ESR limit for 2020':'2020ESRtarget', '2005 ESD BJ':'2005Level'})
# limitESR = limitESR[['Country', '2020ESRtarget','2030ESRtarget','2005Level']]
# limitESR.set_index('Country', inplace=True)
# limitESR = limitESR[limitESR.index.isin(countries)]

# #UK is not in the dataset, we need to add from the official journal

# for i in countries:
#     if i not in limitESR.index:
#         print(i, 'is not in the dataset')

# limitESR

In [40]:
# These data SHALL NOT BE USED. See reason on why ENV_AIR_GGE is preferable for the calculation:
# (https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Greenhouse_gas_emission_statistics_-_emission_inventories)
# (https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Greenhouse_gas_emission_statistics_-_air_emissions_accounts&oldid=551152#Greenhouse_gas_emissions)
# CO2, KG_HAB, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/ENV_AC_AINAH_R2/


# co2 = pd.read_csv('../data/env_ac_ainah_r2.csv')
# co2 = co2[co2['geo'].isin(countryAbb)]
# co2['geo'] = co2['geo'].map(abbrev_to_country).fillna(co2['geo'])
# co2 = co2.pivot_table(columns='TIME_PERIOD', index='geo', values='OBS_VALUE', aggfunc='mean')

# mr = co2.columns[-1] # most recent year
# # co2[[2012, 2016, mr]]/1000

In [41]:
# From 14.6, using Eurostat data for landing values.

# Even though the USD-EUR discrepancy does not affect the ratio we calculate,
# we get today's exchange rate to convert landing values to USD and have a consistent unit
# Solution source: https://stackoverflow.com/a/17250702/14534411


# r = requests.get('http://www.ecb.int/stats/eurofxref/eurofxref-daily.xml', stream=True)
# tree = ET.parse(r.raw)
# root = tree.getroot()
# namespaces = {'ex': 'http://www.ecb.int/vocabulary/2002-08-01/eurofxref'}
# currency = 'USD'
# match = root.find('.//ex:Cube[@currency="{}"]'.format(currency.upper()), namespaces=namespaces)
# eurTOusd = float(match.attrib['rate'])

# Landings of fishery products, TOTAL FISHERY PRODUCTS, Euro, Eurostat
# https://ec.europa.eu/eurostat/databrowser/view/FISH_LD_MAIN/ 

# landing = pd.read_csv('../data/fish_ld_main.csv')
# landing['Country'] = landing.geo.map(abbrev_to_country).fillna(landing.geo)
# landing = landing[landing.Country.isin(countries)]
# landing = landing[['Country', 'TIME_PERIOD', 'OBS_VALUE', 'unit']]
# landing['landingUSD'] = landing.OBS_VALUE * eurTOusd
# landing.pivot_table(columns='TIME_PERIOD', index='Country', values='landingUSD', aggfunc='mean')