Script to analyse data related to fisheries. These data concerns:

Target 14.4 (FMSY/F and B/BMSY)

Target 14.6 (TAC/Catch)

Target 14.a (SAD/TAC)

In [2]:
import os
import pandas as pd

In [229]:
pd.set_option('display.max_columns', 500)

In [4]:
os.chdir('..')
os.getcwd()

'c:\\Users\\isaldiviagonzatti\\OneDrive - Kiel Institut für Weltwirtschaft\\Documents\\General\\Ignacio'

In [197]:
countries=['Belgium','Bulgaria','Cyprus', 'Greece','Germany','Croatia','Italy', 
           'Denmark','Estonia','Spain','Finland','France','Ireland','Lithuania',
           'Latvia','Malta','Netherlands','Poland','Portugal', 'Romania',
           'Sweden','United Kingdom of Great Britain and Northern Ireland', "United Kingdom of GB"]

In [198]:
country_to_abbrev = {
    "Andorra": "AD",
    "United Arab Emirates": "AE",
    "Afghanistan": "AF",
    "Antigua and Barbuda": "AG",
    "Anguilla": "AI",
    "Albania": "AL",
    "Armenia": "AM",
    "Angola": "AO",
    "Antarctica": "AQ",
    "Argentina": "AR",
    "American Samoa": "AS",
    "Austria": "AT",
    "Australia": "AU",
    "Aruba": "AW",
    "Åland Islands": "AX",
    "Azerbaijan": "AZ",
    "Bosnia and Herzegovina": "BA",
    "Barbados": "BB",
    "Bangladesh": "BD",
    "Belgium": "BE",
    "Burkina Faso": "BF",
    "Bulgaria": "BG",
    "Bahrain": "BH",
    "Burundi": "BI",
    "Benin": "BJ",
    "Saint Barthélemy": "BL",
    "Bermuda": "BM",
    "Brunei Darussalam": "BN",
    "Bolivia (Plurinational State of)": "BO",
    "Bonaire, Sint Eustatius and Saba": "BQ",
    "Brazil": "BR",
    "Bahamas": "BS",
    "Bhutan": "BT",
    "Bouvet Island": "BV",
    "Botswana": "BW",
    "Belarus": "BY",
    "Belize": "BZ",
    "Canada": "CA",
    "Cocos (Keeling) Islands": "CC",
    "Congo, Democratic Republic of the": "CD",
    "Central African Republic": "CF",
    "Congo": "CG",
    "Switzerland": "CH",
    "Côte d'Ivoire": "CI",
    "Cook Islands": "CK",
    "Chile": "CL",
    "Cameroon": "CM",
    "China": "CN",
    "Colombia": "CO",
    "Costa Rica": "CR",
    "Cuba": "CU",
    "Cabo Verde": "CV",
    "Curaçao": "CW",
    "Christmas Island": "CX",
    "Cyprus": "CY",
    "Czechia": "CZ",
    "Germany": "DE",
    "Djibouti": "DJ",
    "Denmark": "DK",
    "Dominica": "DM",
    "Dominican Republic": "DO",
    "Algeria": "DZ",
    "Ecuador": "EC",
    "Estonia": "EE",
    "Egypt": "EG",
    "Western Sahara": "EH",
    "Eritrea": "ER",
    "Spain": "ES",
    "Ethiopia": "ET",
    "Finland": "FI",
    "Fiji": "FJ",
    "Falkland Islands (Malvinas)": "FK",
    "Micronesia (Federated States of)": "FM",
    "Faroe Islands": "FO",
    "France": "FR",
    "Gabon": "GA",
    "United Kingdom of Great Britain and Northern Ireland": "UK", #original is GB, Eurostat uses UK
    "United Kingdom of GB": "GB",
    "Grenada": "GD",
    "Georgia": "GE",
    "French Guiana": "GF",
    "Guernsey": "GG",
    "Ghana": "GH",
    "Gibraltar": "GI",
    "Greenland": "GL",
    "Gambia": "GM",
    "Guinea": "GN",
    "Guadeloupe": "GP",
    "Equatorial Guinea": "GQ",
    "Greece": "EL", #original ir GR, Eurostat uses EL
    "South Georgia and the South Sandwich Islands": "GS",
    "Guatemala": "GT",
    "Guam": "GU",
    "Guinea-Bissau": "GW",
    "Guyana": "GY",
    "Hong Kong": "HK",
    "Heard Island and McDonald Islands": "HM",
    "Honduras": "HN",
    "Croatia": "HR",
    "Haiti": "HT",
    "Hungary": "HU",
    "Indonesia": "ID",
    "Ireland": "IE",
    "Israel": "IL",
    "Isle of Man": "IM",
    "India": "IN",
    "British Indian Ocean Territory": "IO",
    "Iraq": "IQ",
    "Iran (Islamic Republic of)": "IR",
    "Iceland": "IS",
    "Italy": "IT",
    "Jersey": "JE",
    "Jamaica": "JM",
    "Jordan": "JO",
    "Japan": "JP",
    "Kenya": "KE",
    "Kyrgyzstan": "KG",
    "Cambodia": "KH",
    "Kiribati": "KI",
    "Comoros": "KM",
    "Saint Kitts and Nevis": "KN",
    "Korea (Democratic People's Republic of)": "KP",
    "Korea, Republic of": "KR",
    "Kuwait": "KW",
    "Cayman Islands": "KY",
    "Kazakhstan": "KZ",
    "Lao People's Democratic Republic": "LA",
    "Lebanon": "LB",
    "Saint Lucia": "LC",
    "Liechtenstein": "LI",
    "Sri Lanka": "LK",
    "Liberia": "LR",
    "Lesotho": "LS",
    "Lithuania": "LT",
    "Luxembourg": "LU",
    "Latvia": "LV",
    "Libya": "LY",
    "Morocco": "MA",
    "Monaco": "MC",
    "Moldova, Republic of": "MD",
    "Montenegro": "ME",
    "Saint Martin (French part)": "MF",
    "Madagascar": "MG",
    "Marshall Islands": "MH",
    "North Macedonia": "MK",
    "Mali": "ML",
    "Myanmar": "MM",
    "Mongolia": "MN",
    "Macao": "MO",
    "Northern Mariana Islands": "MP",
    "Martinique": "MQ",
    "Mauritania": "MR",
    "Montserrat": "MS",
    "Malta": "MT",
    "Mauritius": "MU",
    "Maldives": "MV",
    "Malawi": "MW",
    "Mexico": "MX",
    "Malaysia": "MY",
    "Mozambique": "MZ",
    "Namibia": "NA",
    "New Caledonia": "NC",
    "Niger": "NE",
    "Norfolk Island": "NF",
    "Nigeria": "NG",
    "Nicaragua": "NI",
    "Netherlands": "NL",
    "Norway": "NO",
    "Nepal": "NP",
    "Nauru": "NR",
    "Niue": "NU",
    "New Zealand": "NZ",
    "Oman": "OM",
    "Panama": "PA",
    "Peru": "PE",
    "French Polynesia": "PF",
    "Papua New Guinea": "PG",
    "Philippines": "PH",
    "Pakistan": "PK",
    "Poland": "PL",
    "Saint Pierre and Miquelon": "PM",
    "Pitcairn": "PN",
    "Puerto Rico": "PR",
    "Palestine, State of": "PS",
    "Portugal": "PT",
    "Palau": "PW",
    "Paraguay": "PY",
    "Qatar": "QA",
    "Réunion": "RE",
    "Romania": "RO",
    "Serbia": "RS",
    "Russian Federation": "RU",
    "Rwanda": "RW",
    "Saudi Arabia": "SA",
    "Solomon Islands": "SB",
    "Seychelles": "SC",
    "Sudan": "SD",
    "Sweden": "SE",
    "Singapore": "SG",
    "Saint Helena, Ascension and Tristan da Cunha": "SH",
    "Slovenia": "SI",
    "Svalbard and Jan Mayen": "SJ",
    "Slovakia": "SK",
    "Sierra Leone": "SL",
    "San Marino": "SM",
    "Senegal": "SN",
    "Somalia": "SO",
    "Suriname": "SR",
    "South Sudan": "SS",
    "Sao Tome and Principe": "ST",
    "El Salvador": "SV",
    "Sint Maarten (Dutch part)": "SX",
    "Syrian Arab Republic": "SY",
    "Eswatini": "SZ",
    "Turks and Caicos Islands": "TC",
    "Chad": "TD",
    "French Southern Territories": "TF",
    "Togo": "TG",
    "Thailand": "TH",
    "Tajikistan": "TJ",
    "Tokelau": "TK",
    "Timor-Leste": "TL",
    "Turkmenistan": "TM",
    "Tunisia": "TN",
    "Tonga": "TO",
    "Turkey": "TR",
    "Trinidad and Tobago": "TT",
    "Tuvalu": "TV",
    "Taiwan, Province of China": "TW",
    "Tanzania, United Republic of": "TZ",
    "Ukraine": "UA",
    "Uganda": "UG",
    "United States Minor Outlying Islands": "UM",
    "United States of America": "US",
    "Uruguay": "UY",
    "Uzbekistan": "UZ",
    "Holy See": "VA",
    "Saint Vincent and the Grenadines": "VC",
    "Venezuela (Bolivarian Republic of)": "VE",
    "Virgin Islands (British)": "VG",
    "Virgin Islands (U.S.)": "VI",
    "Viet Nam": "VN",
    "Vanuatu": "VU",
    "Wallis and Futuna": "WF",
    "Samoa": "WS",
    "Yemen": "YE",
    "Mayotte": "YT",
    "South Africa": "ZA",
    "Zambia": "ZM",
    "Zimbabwe": "ZW",
}
    
# invert the dictionary
abbrev_to_country = dict(map(reversed, country_to_abbrev.items()))

### TAC & SAD

In [18]:
pd.ExcelFile(os.path.realpath("data/icesTACcomparison.xlsx")).sheet_names

['Menus',
 'Table of contents',
 'ICES advice',
 'Council agreed TAC',
 'Comparison',
 'Table for results',
 'Overall results',
 'Results by Member State',
 'Sea basin',
 'Third country',
 'Results by % difference',
 'Results by # of TACs',
 'Results by # of TACs by MS',
 'Results by species',
 'ID',
 'Matching - ICES-TAC',
 'Matching - Final TACs',
 'Matching - EU share',
 'Matching - TAC split share',
 'Matching - ICES area share']

In [21]:
pd.read_excel(os.path.realpath("data/icesTACcomparison.xlsx"), 1)

,Tab,Description
0,ICES advice,ICES advice by TAC and year
1,Council agreed TAC,Council agreed TAC by Member State and year
2,Comparison,Comparing ICES advice and agreed TACs by Membe...
3,Overall results,Calculates the difference between TACs and ICE...
4,Results by Member State,Calculates the difference between TACs and ICE...
5,Results by % difference,Calculates the difference between TACs and ICE...
6,Results by # of TACs,Calculates the number of TACs that exceed ICES...
7,Results by # of TACs by MS,Calculates the number of TACs that exceed ICES...
8,Results by third country share,Calculates the difference between TACs and ICE...
9,Results by species,Calculates the difference between TACs and ICE...
10,Line graph - Member State,Graph of the difference between TACs and ICES ...

In [111]:
sad = pd.read_excel(os.path.realpath("data/icesTACcomparison.xlsx"), 'ICES advice')

In [142]:
sad[sad['Code'].str.match('san')]
sad['Choices'].unique()

array([nan, 'No matching advice', 'Sum of multiple advice',
       'Assume landings =catches',
       'MSY approach. 7451-21644, catches > 12801 only as specified in the MAP',
       'MSY approach (range 10192–29767)',
       'MSY approach. Range 878-1685)', 'Special request',
       'MSY point value. Range 2209-5196.',
       'Measured in catches, not landings',
       'MSY approach. Range 11,418-23,262.',
       'MSY approach. Range 2,333-3,830.', 'Landings not catch',
       'MSY approach. Range 4,694-8,991.', 'Fleet B', 'Fleet D',
       'advice had an error', 'Fleet C', 'Fleet A',
       'Lemon sole and witch', 'High end of range',
       'High end of range, Assume landings =catches', 'Updated advice',
       'Add Rockall. MSY approach.', 'MSY approach. Range 13,218-28,838.',
       'MSY approach. Range 357-648 (Lepidorhombus whiffiagonis) and 1,275-2,651 (Lepidorhombus boscii).',
       'First two quarters', 'FU 14,15,16,17,18,20,21,22',
       'FU 6,7,8,9,32', 'FU11, FU12, FU13 and other Via',
       'North sea split out', 'SD 21', 'SD 21, MSY advice used',
       'MSY used', 'Plaice in VIId + Vlle',
       'Plaice in VIId + Vlle. MSY approach.',
       'Catches data. Calculated from two advice documents: 10b/12c/12a1/14b1/5a1; and remove 2016 percentage of catches for 12b (in 6/7/5b/12v) projected on 2017 ',
       'Catches data. Calculated from two advice documents: 10b/12c/12a1/14b1/5a1; and 2016 percentage of catches for 12b (in 6/7/5b/12v) projected on 2017 ',
       'Sum of multiple advices', "Doesn't match due to bycatches",
       'Sum of turbot and brill',
       'Sum of turbot and brill. FMSY used for turbot',
       'Includes wanted catch of 0.172', 'Includes Rockall',
       'sum of two advces',
       "Assumed from TAC advice document ('minimise mortaility'..",
       'No data for 2020 in 2018 advice document',
       'Converted to tonnes using a weight of 4.5 kg', 'Adjusted',
       'MSY point value', 'Deducting Western Baltic cod',
       'Deducting Western Baltic cod (F-lower)', '0.5 of IIIa', 'Fleet F',
       "Assumed from ICES document on abolishing TACs ('minimise mortality..')"],
      dtype=object)

In [118]:
sad_tac = pd.read_excel(os.path.realpath("data/icesTACcomparison.xlsx"), 'Comparison')

In [138]:
sad_tac[(sad_tac.Species == 'Sandeel') & (sad_tac.Year == 2017) & (sad_tac.Level == 'EU')  ]

,Final Ref,Reference,TAC ID,Species,TAC Zone,ICES area,Level,TAC,Year,Amendment/Original,...,ICES Advice,TAC above advice (t),TAC above advice (%),Net difference (t),Net difference (%),Advice change ICES,Advice change %,Advice change quantity,Previous year TAC,ICES with Council
20384,(SAN/04-N.) - 2017 - EU - Final,(SAN/04-N.) - 2017 - EU - Original,(SAN/04-N.),Sandeel,Norwegian waters of 4,"4, 3a",EU,0,2017,Original,...,No matching advice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20577,(SAN/2A3A4.) - 2017 - EU - Not Final,(SAN/2A3A4.) - 2017 - EU - Original,(SAN/2A3A4.),Sandeel,"Union waters of 2a, 3a and 4","4, 3a",EU,0,2017,Original,...,0,0.0,NaN,0.0,NaN,-1.000000,-1.000000,2016.0,2016.0,0
20583,(SAN/2A3A4.) - 2017 - EU - Final,(SAN/2A3A4.) - 2017 - EU - Amendment,(SAN/2A3A4.),Sandeel,"Union waters of 2a, 3a and 4","4, 3a",EU,486115,2017,Amendment,...,560291,0.0,0.0,-74176.0,-0.132388,3.426658,276.922123,-558275.0,2016.0,560291

In [22]:
tac = pd.read_excel(os.path.realpath("data/icesTACcomparison.xlsx"), 'Council agreed TAC')

In [108]:
# extract acronym of species and convert to lower case
tac["speciesAcronym"] = tac["Reference"].str.extract(r"\(([\w\-]+)" , expand=False).str.lower()

In [140]:
tac[(tac.Species == 'Sandeel') & (sad_tac.Year == 2017) & (sad_tac.Level == 'EU')  ]

,Reference,TAC ID,Species,TAC Zone,Level,TAC for comparison,Year,Amendment/Original,Sea,Amendment check,Pre-uplift/post-deduction,Uplift/deduction %,Post-uplift/pre-deduction,Notes,speciesAcronym
20384,(SAN/04-N.) - 2017 - EU - Original,(SAN/04-N.),Sandeel,Norwegian waters of 4,EU,0,2017,Original,Atlantic,Final,0,NaN,0,NaN,san
20577,(SAN/2A3A4.) - 2017 - EU - Original,(SAN/2A3A4.),Sandeel,"Union waters of 2a, 3a and 4",EU,0,2017,Original,Atlantic,Not Final,0,NaN,0,NaN,san
20583,(SAN/2A3A4.) - 2017 - EU - Amendment,(SAN/2A3A4.),Sandeel,"Union waters of 2a, 3a and 4",EU,486115,2017,Amendment,Atlantic,Final,486115,NaN,486115,NaN,san

### FMSY/F and B/BMSY

In [259]:
stock = pd.read_csv(os.path.relpath('data/stockAssesment/StockAssessment.csv'), names=range(138))
stock.columns = stock.iloc[0,:]
stock = stock[1:]

C:\Users\isaldiviagonzatti\AppData\Local\Temp\ipykernel_33460\1294945985.py:1: DtypeWarning: Columns (0,1,3,4,6,10,12,13,14,17,18,19,20,21,22,23,27,28,29,30,31,32,33,34,35,36,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,56,57,58,59,60,62,65,66,68,69,70,71,72,73,74,75,76,79,82,85,88,91,94,97,100,103,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,137) have mixed types. Specify dtype option on import or set low_memory=False.
  stock = pd.read_csv(os.path.relpath('data/stockAssesment/StockAssessment.csv'), names=range(138))

In [260]:
# extract EN name and acronym of species
stock['enName'] = stock["StockDescription"].str.extract(r"^(.+?) ?(?:\d|\(|$)" , expand=False)
stock['speciesAcronym'] = stock["FishStock"].str.extract(r"^([^.]*).*" , expand=False)

In [261]:
stock.Year = stock.Year.astype(int)
stock = stock[stock.Year.isin([2012,2016,2020])]

In [265]:
stock["ICES Areas (splited with character '~')"].str.split('~', expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64
30,27.4.b,27.4.c,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
34,27.4.b,27.4.c,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
38,27.4.b,27.4.c,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
70,27.4.b,27.4.c,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
74,27.4.b,27.4.c,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7414,27.14.b.1,27.14.b.2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7418,27.14.b.1,27.14.b.2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7454,27.14.a,27.14.b.1,27.14.b.2,27.5.a.1,27.5.a.2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7458,27.14.a,27.14.b.1,27.14.b.2,27.5.a.1,27.5.a.2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7462,27.14.a,27.14.b.1,27.14.b.2,27.5.a.1,27.5.a.2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [263]:
stock[stock['FishStock'].str.match('san')]

,AssessmentKey,AssessmentYear,FishStock,StockDatabaseID,StockKey,Purpose,Year,StockDescription,ICES Areas (splited with character '~'),SpeciesName,SGName,Report,Low_Recruitment,Recruitment,High_Recruitment,UnitOfRecruitment,RecruitmentDescription,Low_TBiomass,TBiomass,High_TBiomass,TotalBiomassUnits,Low_StockSize,StockSize,High_StockSize,StockSizeDescription,StockSizeUnits,CatchesLadingsUnits,Landings,OfficialLandings,Catches,Discards,IBC,Unallocated_Removals,YieldSSB,Low_FishingPressure,FishingPressure,High_FishingPressure,FishingPressureDescription,FishingPressureUnits,F_Landings,F_Discards,F_IBC,F_Unallocated,Flim,Fpa,Blim,Bpa,FMSY,MSYBtrigger,Fmanagement,Bmanagement,RecruitmentAge,RecruitmentLength,FAge,FLength,TypeStock,FupperWithAR,FupperWithoutAR,FlowerWithoutAR,FlowerWithAR,Published,CustomRefPointName1,CustomRefPointValue1,CustomRefPointNotes1,CustomRefPointName2,CustomRefPointValue2,CustomRefPointNotes2,CustomRefPointName3,CustomRefPointValue3,CustomRefPointNotes3,CustomRefPointName4,CustomRefPointValue4,CustomRefPointNotes4,CustomRefPointName5,CustomRefPointValue5,CustomRefPointNotes5,Custom1,CustomName1,CustomUnits1,Custom2,CustomName2,CustomUnits2,Custom3,CustomName3,CustomUnits3,Custom4,CustomName4,CustomUnits4,Custom5,CustomName5,CustomUnits5,Custom6,CustomName6,CustomUnits6,Custom7,CustomName7,CustomUnits7,Custom8,CustomName8,CustomUnits8,Custom9,CustomName9,CustomUnits9,Custom10,CustomName10,CustomUnits10,Custom11,CustomName11,CustomUnits11,Custom12,CustomName12,CustomUnits12,Custom13,CustomName13,CustomUnits13,Custom14,CustomName14,CustomUnits14,Custom15,CustomName15,CustomUnits15,Custom16,CustomName16,CustomUnits16,Custom17,CustomName17,CustomUnits17,Custom18,CustomName18,CustomUnits18,Custom19,CustomName19,CustomUnits19,Custom20,CustomName20,CustomUnits20,ConfidenceIntervalDefinition,NaN,enName,speciesAcronym
30,16936,2022,san.sa.1r,3185,169246,Advice,2012,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. Sandeel Area 1r (central and southern North S...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10000,78893848,103284720,135216288,thousands,Recruitment,NaN,NaN,NaN,NaN,115990,152970,201741,SSB,tonnes,tonnes,NaN,NaN,45954,NaN,NaN,NaN,NaN,0.097,0.112,0.13,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,110000,145000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
34,16936,2022,san.sa.1r,3185,169246,Advice,2016,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. Sandeel Area 1r (central and southern North S...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10000,212982219,273004818,349942971,thousands,Recruitment,NaN,NaN,NaN,NaN,177789,231422,301235,SSB,tonnes,tonnes,NaN,NaN,15407,NaN,NaN,NaN,NaN,0.024,0.028,0.032,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,110000,145000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
38,16936,2022,san.sa.1r,3185,169246,Advice,2020,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. Sandeel Area 1r (central and southern North S...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10000,35964708,52904555,77823291,thousands,Recruitment,NaN,NaN,NaN,NaN,48574,60901,76356,SSB,tonnes,tonnes,NaN,NaN,108944,NaN,NaN,NaN,NaN,0.445,0.515,0.597,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,110000,145000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
70,16937,2022,san.sa.2r,3186,169247,Advice,2012,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. and Subdivision 20. Sandeel Area 2r (Skagerra...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10001,33698412,45353595,61039926,thousands,Recruitment,NaN,NaN,NaN,NaN,30417,42319,58879,SSB,tonnes,tonnes,NaN,NaN,12672,NaN,NaN,NaN,NaN,0.124,0.153,0.188,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,56000,84000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
74,16937,2022,san.sa.2r,3186,169247,Advice,2016,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. and Subdivision 20. Sandeel Area 2r (Skagerra...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10001,88858472,122914555,170023044,thousands,Recruitment,NaN,NaN,NaN,NaN,19920,26796,36046,SSB,tonnes,tonnes,NaN,NaN,9569,NaN,NaN,NaN,NaN,0.153,0.188,0.231,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,56000,84000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
78,16937,2022,san.sa.2r,3186,169247,Advice,2020,Sandeel (Ammodytes spp.) in divisions 4.b and 4.c. and Subdivision 20. Sandeel Area 2r (Skagerra...,27.4.b ~ 27.4.c,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10001,18404433,26403312,37878638,thousands,Recruitment,NaN,NaN,NaN,NaN,27788,37235,49893,SSB,tonnes,tonnes,NaN,NaN,70198,NaN,NaN,NaN,NaN,0.484,0.595,0.732,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,56000,84000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
100,16940,2022,san.sa.4,2985,169249,Advice,2012,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. Sandeel Area 4 (northern and central North Sea),27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10003,16197185,27979985,48334297,thousands,Recruitment,NaN,NaN,NaN,NaN,62287,101114,164142,SSB,tonnes,tonnes,NaN,NaN,2618,NaN,NaN,NaN,NaN,0.016,0.022,0.03,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,48000,102000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
104,16940,2022,san.sa.4,2985,169249,Advice,2016,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. Sandeel Area 4 (northern and central North Sea),27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10003,43783957,73075229,121962231,thousands,Recruitment,NaN,NaN,NaN,NaN,121173,193881,310217,SSB,tonnes,tonnes,NaN,NaN,6232,NaN,NaN,NaN,NaN,0.019,0.025,0.035,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,48000,102000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
108,16940,2022,san.sa.4,2985,169249,Advice,2020,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. Sandeel Area 4 (northern and central North Sea),27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10003,34634160,62395268,112408369,thousands,Recruitment,NaN,NaN,NaN,NaN,31631,50312,80027,SSB,tonnes,tonnes,NaN,NaN,20116,NaN,NaN,NaN,NaN,0.039,0.054,0.073,F,Year-1,NaN,NaN,NaN,NaN,NaN,NaN,48000,102000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
137,16941,2022,san.sa.3r,3188,169248,Advice,2012,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. and Subdivision 20. Sandeel Area 3r (Skagerra...,27.3.a ~ 27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10002,50031069,84309069,142072104,thousands,Recruitment,NaN,NaN,NaN,NaN,105638,167376,265196,SSB,tonnes,tonnes,NaN,NaN,40141,NaN,NaN,NaN,NaN,0.076,0.103,0.139,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,80000,129000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
141,16941,2022,san.sa.3r,3188,169248,Advice,2016,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. and Subdivision 20. Sandeel Area 3r (Skagerra...,27.3.a ~ 27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10002,446229020,705205636,1114483743,thousands,Recruitment,NaN,NaN,NaN,NaN,169578,260146,399086,SSB,tonnes,tonnes,NaN,NaN,44074,NaN,NaN,NaN,NaN,0.076,0.103,0.139,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,80000,129000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san
145,16941,2022,san.sa.3r,3188,169248,Advice,2020,Sandeel (Ammodytes spp.) in divisions 4.a and 4.b. and Subdivision 20. Sandeel Area 3r (Skagerra...,27.3.a ~ 27.4.a ~ 27.4.b,Ammodytes,NaN,https://doi.org/10.17895/ices.advice.10002,85214799,160691992,303021501,thousands,Recruitment,NaN,NaN,NaN,NaN,183555,284077,439649,SSB,tonnes,tonnes,NaN,NaN,247411,NaN,NaN,NaN,NaN,0.46,0.621,0.839,F,ratio,NaN,NaN,NaN,NaN,NaN,NaN,80000,129000,NaN,NaN,NaN,NaN,0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90%,NaN,Sandeel,san

In [239]:
stock[stock.speciesAcronym == 'ple']

Empty DataFrame
Columns: [AssessmentKey, AssessmentYear, FishStock, StockDatabaseID, StockKey, Purpose, Year, StockDescription, ICES Areas (splited with character '~'), SpeciesName, SGName, Report, Low_Recruitment, Recruitment, High_Recruitment, UnitOfRecruitment, RecruitmentDescription, Low_TBiomass, TBiomass, High_TBiomass, TotalBiomassUnits, Low_StockSize, StockSize, High_StockSize, StockSizeDescription, StockSizeUnits, CatchesLadingsUnits, Landings, OfficialLandings, Catches, Discards, IBC, Unallocated_Removals, YieldSSB, Low_FishingPressure, FishingPressure, High_FishingPressure, FishingPressureDescription, FishingPressureUnits, F_Landings, F_Discards, F_IBC, F_Unallocated, Flim, Fpa, Blim, Bpa, FMSY, MSYBtrigger, Fmanagement, Bmanagement, RecruitmentAge, RecruitmentLength, FAge, FLength, TypeStock, FupperWithAR, FupperWithoutAR, FlowerWithoutAR, FlowerWithAR, Published, CustomRefPointName1, CustomRefPointValue1, CustomRefPointNotes1, CustomRefPointName2, CustomRefPointValue2, CustomRefPointNotes2, CustomRefPointName3, CustomRefPointValue3, CustomRefPointNotes3, CustomRefPointName4, CustomRefPointValue4, CustomRefPointNotes4, CustomRefPointName5, CustomRefPointValue5, CustomRefPointNotes5, Custom1, CustomName1, CustomUnits1, Custom2, CustomName2, CustomUnits2, Custom3, CustomName3, CustomUnits3, Custom4, CustomName4, CustomUnits4, Custom5, CustomName5, CustomUnits5, Custom6, CustomName6, CustomUnits6, Custom7, CustomName7, CustomUnits7, Custom8, CustomName8, CustomUnits8, ...]
Index: []

In [110]:
print(stock.columns.tolist())

['AssessmentKey', 'AssessmentYear', 'FishStock', 'StockDatabaseID', 'StockKey', 'Purpose', 'Year', 'StockDescription', "ICES Areas (splited with character '~')", 'SpeciesName', 'SGName', 'Report', 'Low_Recruitment', 'Recruitment', 'High_Recruitment', 'UnitOfRecruitment', 'RecruitmentDescription', 'Low_TBiomass', 'TBiomass', 'High_TBiomass', 'TotalBiomassUnits', 'Low_StockSize', 'StockSize', 'High_StockSize', 'StockSizeDescription', 'StockSizeUnits', 'CatchesLadingsUnits', 'Landings', 'OfficialLandings', 'Catches', 'Discards', 'IBC', 'Unallocated_Removals', 'YieldSSB', 'Low_FishingPressure', 'FishingPressure', 'High_FishingPressure', 'FishingPressureDescription', 'FishingPressureUnits', 'F_Landings', 'F_Discards', 'F_IBC', 'F_Unallocated', 'Flim', 'Fpa', 'Blim', 'Bpa', 'FMSY', 'MSYBtrigger', 'Fmanagement', 'Bmanagement', 'RecruitmentAge', 'RecruitmentLength', 'FAge', 'FLength', 'TypeStock', 'FupperWithAR', 'FupperWithoutAR', 'FlowerWithoutAR', 'FlowerWithAR', 'Published', 'CustomRefPointName1', 'CustomRefPointValue1', 'CustomRefPointNotes1', 'CustomRefPointName2', 'CustomRefPointValue2', 'CustomRefPointNotes2', 'CustomRefPointName3', 'CustomRefPointValue3', 'CustomRefPointNotes3', 'CustomRefPointName4', 'CustomRefPointValue4', 'CustomRefPointNotes4', 'CustomRefPointName5', 'CustomRefPointValue5', 'CustomRefPointNotes5', 'Custom1', 'CustomName1', 'CustomUnits1', 'Custom2', 'CustomName2', 'CustomUnits2', 'Custom3', 'CustomName3', 'CustomUnits3', 'Custom4', 'CustomName4', 'CustomUnits4', 'Custom5', 'CustomName5', 'CustomUnits5', 'Custom6', 'CustomName6', 'CustomUnits6', 'Custom7', 'CustomName7', 'CustomUnits7', 'Custom8', 'CustomName8', 'CustomUnits8', 'Custom9', 'CustomName9', 'CustomUnits9', 'Custom10', 'CustomName10', 'CustomUnits10', 'Custom11', 'CustomName11', 'CustomUnits11', 'Custom12', 'CustomName12', 'CustomUnits12', 'Custom13', 'CustomName13', 'CustomUnits13', 'Custom14', 'CustomName14', 'CustomUnits14', 'Custom15', 'CustomName15', 'CustomUnits15', 'Custom16', 'CustomName16', 'CustomUnits16', 'Custom17', 'CustomName17', 'CustomUnits17', 'Custom18', 'CustomName18', 'CustomUnits18', 'Custom19', 'CustomName19', 'CustomUnits19', 'Custom20', 'CustomName20', 'CustomUnits20', 'ConfidenceIntervalDefinition', 'enName', 'test', 'speciesAcronym']

In [121]:
# check what what data is in the custom columns
# stock[~stock.CustomUnits6.isna()].dropna(axis=1)

### Catches

In [216]:
catches = pd.read_csv(os.path.realpath('data\OfficialNominalCatches\ICESCatchDataset2006-2020.csv'))

In [217]:
catches['geo'] = catches.Country.map(abbrev_to_country).fillna(catches.Country)

In [218]:
catches['geo'].unique()

array(['Denmark', 'Estonia', 'Lithuania', 'Latvia', 'Netherlands',
       'Poland', 'Russian Federation', 'Sweden', 'Ireland', 'Jersey',
       'Portugal', 'Spain', 'Norway', 'Germany', 'France',
       'United Kingdom of GB', 'China', 'Japan', 'Korea, Republic of',
       'Taiwan, Province of China', 'Faroe Islands', 'Iceland', 'Belgium',
       'Isle of Man', 'Greenland', 'Guernsey', 'Finland', nan],
      dtype=object)

In [219]:
catches = catches[catches.geo.isin(countries)]

In [ ]:
catches

In [238]:
catches[(catches.Species == 'ple') & (catches.Area.isin(['27.4.a', '27.4.b', '27.4.c']))]

,Country,geo,Species,Area,Units,2012,2016,2020
32760,BE,Belgium,ple,27.4.a,TLW,0.00,0.00,1.8
32761,BE,Belgium,ple,27.4.b,TLW,4171.80,6165.20,2514.3
32762,BE,Belgium,ple,27.4.c,TLW,894.00,499.10,44
32799,DE,Germany,ple,27.4.a,TLW,5.27,10.80,13.7354
32800,DE,Germany,ple,27.4.b,TLW,3817.97,3813.34,1161.2204
32801,DE,Germany,ple,27.4.c,TLW,50.01,547.34,227.9098
32838,DK,Denmark,ple,27.4.a,TLW,1484.54,1953.08,789
32839,DK,Denmark,ple,27.4.b,TLW,10743.38,14441.32,4849
32840,DK,Denmark,ple,27.4.c,TLW,15.59,152.80,1
32932,FR,France,ple,27.4.a,TLW,0.18,0.00,0.011
32933,FR,France,ple,27.4.b,TLW,23.49,6.19,9.293
32934,FR,France,ple,27.4.c,TLW,257.47,162.88,15.54
33049,IE,Ireland,ple,27.4.a,TLW,0.00,0.00,0
33050,IE,Ireland,ple,27.4.b,TLW,0.00,0.00,0
33126,NL,Netherlands,ple,27.4.a,TLW,88.00,274.20,837.621
33127,NL,Netherlands,ple,27.4.b,TLW,21717.00,23442.10,12717.808
33128,NL,Netherlands,ple,27.4.c,TLW,10388.00,8511.30,5032.506
33190,PL,Poland,ple,27.4.a,TLW,0.00,0.00,0
33237,SE,Sweden,ple,27.4.a,TLW,0.10,0.81,2.1952
33238,SE,Sweden,ple,27.4.b,TLW,4.90,8.61,2.408
33239,SE,Sweden,ple,27.4.c,TLW,0.00,0.00,0
53630,GB,United Kingdom of GB,ple,27.4.a,TLW,783.50,2082.78,1308.9967
53631,GB,United Kingdom of GB,ple,27.4.b,TLW,15981.40,16391.89,4173.6787
53632,GB,United Kingdom of GB,ple,27.4.c,TLW,151.50,325.00,121.544

In [221]:
catches = catches[['Country','geo','Species', 'Area', 'Units','2012','2016','2020']]

In [222]:
catches['Species'] = catches['Species'].str.lower()

In [223]:
catches

      Country      geo Species       Area Units  2012  2016 2020
0          DK  Denmark     aas         27   TLW  0.00  0.03    0
1          DK  Denmark     aas       27.3   TLW  0.00  0.00    0
2          DK  Denmark     aas       27.4   TLW  0.00  0.03    0
3          DK  Denmark     aas     27.3.a   TLW  0.00  0.00    0
4          DK  Denmark     aas  27.3.c.22   TLW  0.00  0.00    0
...       ...      ...     ...        ...   ...   ...   ...  ...
54571      FI  Finland     whg  27.3.d.25   TLW  0.03  0.00    0
54572      FI  Finland     whg  27.3.d.29   TLW  0.00  0.00    0
54573      FI  Finland     whg  27.3.d.30   TLW  0.00  0.00    0
54574      FI  Finland     whg  27.3.d.31   TLW  0.00  0.00    0
54575      FI  Finland     whg  27.3.d.32   TLW  0.00  0.00    0

[47059 rows x 8 columns]