In [1]:
import pandas as pd

In [ ]:
### Convert files to HTML

In [2]:
file = "file:///C:/Users/isaldiviagonzatti/Downloads/san.sa.2r.html"

In [4]:
htmltest = pd.read_html(file)

In [20]:
htmltest[0]

                    0          1                                     2
0            Variable      Value                                 Notes
1            F (2021)      0.112             Assessment model estimate
2  Recruitment (2021)  100936282  Assessment model estimate; thousands
3  Recruitment (2022)   19066388   Geometric mean 2011–2020; thousands
4          SSB (2022)      51277     Assessment model estimate; tonnes