In [1]:
import pandas as pd
import os

In [2]:
### Convert files to HTML

In [3]:
os.chdir("..")
os.getcwd()

'c:\\Users\\isaldiviagonzatti\\OneDrive - Kiel Institut für Weltwirtschaft\\Documents\\General\\Ignacio'

In [4]:
data = 'data'

'data\\pdf_ices_test\x08li.27.5b67.html'

In [5]:
htmltest = pd.read_html(os.path.join(data,'pdf_ices_test\bli.27.5b67.html'))

In [15]:
htmltest[6].columns= htmltest[6].iloc[0]
htmltest[6]['year']

,Year,ICES advice,Catch corresponding to advice,EU quota in 5.b (Faroese waters)*,EU TAC in subareas 6 and 7**,Faroese quota in subareas 6 and 7,"Norwegian quota in 2.a, 4, 5.b, 6, and 7","ICES landings in 5.b, 6, and 7"
0,Year,ICES advice,Catch corresponding to advice,EU quota in 5.b (Faroese waters)*,EU TAC in subareas 6 and 7**,Faroese quota in subareas 6 and 7,"Norwegian quota in 2.a, 4, 5.b, 6, and 7","ICES landings in 5.b, 6, and 7"
1,2003,No direct fisheries^,-,3240,3678,940,-,7275
2,2004,Biennial^,-,3240,3678,900,-,6222
3,2005,No direct fisheries^,-,3240,3137,900,200,5481
4,2006,Biennial^,-,3065,3137,400,200,5650
5,2007,No direct fisheries,-,3065,2510,200,160,5648
6,2008,Biennial,-,3065,2009,200,150,3940
7,2009,No direct fisheries,-,3065,2009,150,150,4121
8,2010,Biennial,-,2700,1732,150,150,4759
9,2011,No direct fishery and effort to limit bycatch....,-,0,1717,0,150,2861
10,2012,"No new advice, same as 2011",NaN,0,1882,0,150,3016
11,2013,Average catch 2008 to 2011,3900,0,2540,0,150,2675
12,2014,"No new advice, same as 2013",3900,1500,2540,***,***,2963
13,2015,MSY approach,< 5046,1500,5046,***,***,2748
14,2016,"No new advice, same as 2015",< 5046,2100,5046,***,***,2734
15,2017,MSY approach,≤ 11314,2000,11314,***,***,2673
16,2018,MSY approach,≤ 10763,2000,10763,***,***,3310
17,2019,MSY approach,≤ 11778,1885,11778,***,***,3268
18,2020,MSY approach,≤ 11150,1885,11150,***,***,3478
19,2021,MSY approach,≤ 11470,0,11522,***,***,5285
20,2022,MSY approach,≤ 10831,0,10859,***,***,NaN
21,2023,MSY approach,≤ 10952,NaN,NaN,NaN,NaN,NaN
22,2024,MSY approach,≤ 10362,NaN,NaN,NaN,NaN,NaN