In [3]:
import pandas as pd
import requests
import getpass

In [11]:
tokenIUCN = getpass.getpass('IUCN Red List Token: ')

In [28]:
response = requests.get("https://apiv3.iucnredlist.org/api/v3/comp-group/list?token={0}".format(tokenIUCN))
groupsTaxon = pd.DataFrame.from_dict(respose.json()['result'])
groupsTaxon

In [31]:
marineSpecies = [
    "blennies",
    "seasnakes",
    "fw_caridean_shrimps",
    "fw_crayfish",
    "tunas_and_billfishes",
    "butterfly_fishes",
    "groupers",
    "pufferfishes",
    "surgeonfishes",
    "sharks_and_rays",
    "fw_crabs",
    "tarpons_and_ladyfishes",
    "sturgeons",
    "angelfishes",
    "lobsters",
    "seabreams_porgies_picarels",
    "hagfishes",
    "wrasses_and_parrotfishes",
]

In [41]:
response = requests.get("https://apiv3.iucnredlist.org/api/v3/comp-group/getspecies/wrasses_and_parrotfishes?token={0}".format(tokenIUCN))
species = pd.DataFrame.from_dict(response.json()['result'])
species

,taxonid,scientific_name,subspecies,rank,subpopulation,category
0,186106,Acantholabrus palloni,None,None,None,LC
1,187520,Achoerodus gouldii,None,None,None,VU
2,187572,Achoerodus viridis,None,None,None,NT
3,187796,Ammolabrus dicrus,None,None,None,LC
4,187716,Anampses caeruleopunctatus,None,None,None,LC
...,...,...,...,...,...,...
605,187670,Xyrichtys splendens,None,None,None,LC
606,61422,Xyrichtys trivittatus,None,None,None,DD
607,183305,Xyrichtys victori,None,None,None,VU
608,183739,Xyrichtys wellingtoni,None,None,None,VU
609,187408,Xyrichtys woodi,None,None,None,LC

In [14]:
response = requests.get("https://apiv3.iucnredlist.org/api/v3/country/getspecies/AZ?token={0}".format(tokenIUCN))

In [26]:
pd.DataFrame.from_dict(response.json()['result'])

,taxonid,scientific_name,subspecies,rank,subpopulation,category
0,42293,Abies nordmanniana,None,None,None,LC
1,196098,Abies nordmanniana subsp. nordmanniana,nordmanniana,subsp.,None,LC
2,48839409,Ablepharus bivittatus,None,None,None,LC
3,135696,Abramis brama,None,None,None,LC
4,22725044,Acanthis flammea,None,None,None,LC
...,...,...,...,...,...,...
1158,22692663,Zapornia parva,None,None,None,LC
1159,22692667,Zapornia pusilla,None,None,None,LC
1160,31303,Zelkova carpinifolia,None,None,None,VU
1161,39482,Zerynthia caucasica,None,None,None,VU
1162,173361,Zostera noltii,None,None,None,LC