In [2]:
import pandas as pd
import numpy as np
import os

In [83]:
stock = pd.read_excel('./data/stecf_species_values.xlsx')
catches = pd.read_csv('./data/gfcm_capture_quantity.csv', skiprows=1)
euroCatches = pd.read_csv('./data/fish_ca_atl37_linear.csv')

In [77]:
stock = stock[['YEAR','STOCK', 'STOCKID','F_GSA_LIB', 'ASSES_YEAR', 'BIOMASS','BREF_POINT', 'F', 'F_FMSY', 'FREF', 'R', 'SSB','LANDINGS','CATCH', 'TC',]]
stock = stock[stock.YEAR.isin([ 2012, 2016,2020])]

In [78]:
stock.groupby('YEAR')['STOCKID'].nunique()

YEAR
2012    56
2016    40
2020    20
Name: STOCKID, dtype: int64

In [87]:
catches = catches[catches.columns.drop(list(catches.filter(regex='Flag')))]
catches

,Country Name En,ASFIS species Name En,Unit Name,2020,2019,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Albania,"Angelsharks, sand devils nei",Tonnes - live weight,NaN,NaN,0.0,0.0,3.0,4.0,4.0,...,30.0,31.0,20.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Albania,Atlantic bluefin tuna,Tonnes - live weight,167.66,156.0,100.0,56.0,47.0,40.0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Albania,Atlantic bonito,Tonnes - live weight,35.00,29.0,7.0,11.0,12.0,27.0,3.0,...,30.0,12.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Albania,Barracudas nei,Tonnes - live weight,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Albania,Blue and red shrimp,Tonnes - live weight,135.00,130.0,125.0,198.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,Yugoslavia SFR,"Scorpionfishes, redfishes nei",Tonnes - live weight,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,170.0
1907,Yugoslavia SFR,Silversides(=Sand smelts) nei,Tonnes - live weight,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102.0,178.0
1908,Yugoslavia SFR,Spinous spider crab,Tonnes - live weight,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,51.0
1909,Yugoslavia SFR,Sponges,Tonnes - live weight,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
1910,Yugoslavia SFR,Surmullet,Tonnes - live weight,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,253.0,442.0

In [88]:
euroCatches

,DATAFLOW,LAST UPDATE,freq,species,fishreg,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ABZ,37,TLW,ES,2013,0.050,NaN
1,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ABZ,37,TLW,ES,2015,0.180,NaN
2,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ABZ,37,TLW,ES,2016,0.210,NaN
3,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ABZ,37,TLW,ES,2017,0.120,NaN
4,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ABZ,37,TLW,ES,2018,0.030,NaN
...,...,...,...,...,...,...,...,...,...,...
244782,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ZGP,37_1_2,TLW,EU27_2020,2019,0.025,p
244783,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ZGP,37_1_2,TLW,EU27_2020,2021,0.040,p
244784,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ZGP,37_1_2,TLW,EU28,2019,0.025,p
244785,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ZGP,37_1_2,TLW,FR,2019,0.025,p
244786,ESTAT:FISH_CA_ATL37(1.0),16/11/22 11:00:00,A,ZGP,37_1_2,TLW,FR,2021,0.040,p